

<!-- create_death_record.html -->
{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<div class="container"> 
<div id="popupContainer" class="form-popup-back">
    <div class="form-Contain">
        <div class="POP">
            <div class="cards">
              <div class="popup-header">
                <span id="closePopupBtn" class="close-button">Close</span>
                <h1>Add Donor Record</h1>
              </div>
                <form class="form_popup"  enctype="multipart/form-data" method="post" action="{% url 'add_donor' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Donor Name *</label>
                        <input type="text" name="name" class="form-control" required>
                    </div>
        
                    <div class="form-group">
                        <label for="date_of_birth">Date of Birth *</label>
                        <input type="date" name="date_of_birth" class="form-control" required>
                    </div>
        
                    <div class="form-group">
                        <label for="blood_group">Blood Group *</label>
                        <select name="blood_group" class="form-control" required>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                        </select>
                    </div>
        
                    <div class="form-group">
                        <label for="gender">Gender *</label>
                        <select name="gender" class="form-control" required>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
        
                    <div class="form-group">
                        <label for="father_name">Father Name</label>
                        <input type="text" name="father_name" class="form-control">
                    </div>
        
                    <div class="form-group">
                        <label for="contact_no">Contact No</label>
                        <input type="text" name="contact_no" class="form-control">
                    </div>
        
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea name="address" class="form-control"></textarea>
                    </div>
        
                    <!-- Donor Financial Information -->
                    {% comment %} <h2>Financial Information</h2>
                    <div class="form-group">
                        <label for="total">Total (Rs.)</label>
                        <input type="number" name="total" class="form-control">
                    </div>
        
                    <div class="form-group">
                        <label for="discount_percentage">Discount (%)</label>
                        <input type="number" name="discount_percentage" class="form-control">
                    </div>
        
                    <div class="form-group">
                        <label for="discount">Discount (Rs.)</label>
                        <input type="number" name="discount" class="form-control">
                    </div>
        
                    <div class="form-group">
                        <label for="tax">Tax (Rs.)</label>
                        <input type="number" name="tax" class="form-control">
                    </div>
        
                    <div class="form-group">
                        <label for="net_amount">Net Amount (Rs.)</label>
                        <input type="number" name="net_amount" class="form-control">
                    </div>
        
                    <div class="form-group">
                        <label for="payment_mode">Payment Mode *</label>
                        <select name="payment_mode" class="form-control" required>
                            <option value="Cash">Cash</option>
                            <!-- Add more payment modes as needed -->
                        </select>
                    </div>
        
                    <div class="form-group">
                        <label for="payment_amount">Payment Amount (Rs.) *</label>
                        <input type="number" name="payment_amount" class="form-control" required>
                    </div> {% endcomment %}
                    <div style="text-align: center;">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    







<div class="main-header">
<h1 class="headline">Blood Record</h1>
<div class="side-btns">


{% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
<a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Add Blood Donor</a>

</div>    
</div>   
<table class="table">
    <thead>
      <tr>
        
        <th>ID</th>
        <th>Name </th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Address</th>
       
          
       
      </tr>
    </thead>
    <tbody>
      
      {% for donor in donor %}
        <tr>
            <td>{{donor.id}}</td>
            <td>{{  donor.name}}</td>
           
          <td>{{ donor.date_of_birth }}</td>
          <td>{{ donor.contact_no }}</td>
          <td>{{ donor.address }}</td>
 
          
          
      
        
        </tr>
      {% endfor %}
     
    </tbody>
  </table>

</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    const openPopupBtn = document.getElementById("openPopupBtn");
const popupContainer = document.getElementById("popupContainer");
const closePopupBtn = document.getElementById("closePopupBtn");

function change(){
  popupContainer.style.display = "block";
}
closePopupBtn.addEventListener("click", function() {
    popupContainer.style.display = "none";
});
   
</script>