<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            font: 17px/1.5 Zoho_Puvi_Regular,sans-serif;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Leave {{name}}</h1>
    
        
        <p>Dear ___________</p>
      
        <p>I Am Writing to request a leave of absence from the company for ___________from  ____________ to _____________. I Shall be taking this to __________________________</p>
        <p>I Shall make sure to finish all my existing and pending workload before my leave. If you have any more questions regarding my request for leave. I Am Looking Forward to receive a positive response from you</p>
        <p>Congratulations! We look forward to working with you. Please let me know if you have any questions or concerns.</p>

        <p>Regards</p>
        <p>______________</p>
        <br>
        <br>
        <p>______________________</p>


    </div>
</body>
</html>