<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            font: 17px/1.5 Zoho_Puvi_Regular,sans-serif;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Resignation {{name}}</h1>
        <p>{{date}}</p>
        <p>Dear {{manager}}</p>
    
        <p>I am writing to submit my formal notice of resignation from my role as {{position}} at {{company_name}} . I have accepted another position that more closely aligns with my skill set. My last day will be {{last_day}}. 

        </p>
        <p>I would like to express my appreciation for the experience I have gained at {{company_name}} . I am grateful for the learning opportunities I have received in my time here, as well as the professional relationships I’ve developed with my co-workers. </p>
        <p> If you choose to accept this job offer, please sign and return this letter at your earliest convenience by {{acceptance_date}}. Once your acceptance has been received, we will send you information about onboarding and other asset details.</p>
        <p>Please let me know how I can make this transition as easy as possible. I am happy to assist with training on any tasks and will strive to ensure a smooth changeover for ongoing projects. </p>
        <p>Thank you for the opportunity to grow in this role. It has been a pleasure working with you. </p>
        <p>Sincerely</p>
        
        <p>{{employe}}</p>


    </div>
</body>
</html>