






    {% comment %} {% for med in med_cat %}
<p>{{  med.medicine_category}}</p>
{% endfor %}
</body>
</html> {% endcomment %}





   

{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}
{% load static %}
<div class="container">
<div id="popupContainer" class="form-popup-back">
    <div class="form-Contain">
        <div class="POP">
            <div class="cards">
              <div class="popup-header">
                <span id="closePopupBtn" class="close-button">Close</span>
                <h1>Medication Form </h1>
              </div>
                <form class="form_popup" enctype="multipart/form-data" method="post" action="{% url 'med_cat' %}">
                    {% csrf_token %}
                    
    
                    <div class="form-group">
                      <label for="category">Category:</label>
                      <input type="text" class="form-control" name="category" required>
                  </div>
        
                    
                    <div style="text-align: center;">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    







<div class="main-header">
<h1 class="headline">Medicine Category</h1>
<div class="side-btns">


{% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
<a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Medicine Category</a>

</div>    
</div>
<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th></th>
      
      
     
    </tr>
  </thead>
  <tbody>
    
    {% for med in med_cat %}
      <tr>
        <td>{{ med.medicine_category}}</td>

        
      
      </tr>
    {% endfor %}
  </tbody>
</table>



</div>



<script src="{% static "/css/javscript/index.js" %}"></script>
<script>
    {% comment %} const openPopupBtn = document.getElementById("openPopupBtn");
    const popupContainer = document.getElementById("popupContainer");
    const closePopupBtn = document.getElementById("closePopupBtn");
    
    function change(){
      popupContainer.style.display = "block";
    }
    closePopupBtn.addEventListener("click", function() {
        popupContainer.style.display = "none";  
    }); {% endcomment %}

</script>