
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">

<style>
    *{
        font-family: 'Hedvig Letters Serif', serif;
    }
    .sign{
        margin-top:3rem !important;
    }
</style>

<div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
    <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
           <span style="font-size:50px; font-weight:bold">Birth Certifcate</span>
           <br><br>
           <span style="font-size:25px"><i>This is to certify that</i></span>
           <br><br>
        
           <span style="font-size:30px"><b>{{child.child_name}}</b></span><br/><br/>
           <span style="font-size:25px"><i>Weighing</i></span> <br/><br/>
           <span style="font-size:30px">{{child.weight}} Kgs</span> <br/><br/>
           <span style="font-size:25px"><i>Was Born on</i></span> <br/><br/>
           <span style="font-size:30px">{{child.birth_date}} </span> <br/><br/>
           <span style="font-size:25px"><i>to {{child.father_name}}</i></span><br>
           <span style="font-size:25px"><i>and {{child.mother_name}}</i></span><br>
        
      
          <span class="sign" style="font-size:25px; margin-top:3rem !important;">Doctor Signature</span>
        
    </div>
    </div>