
{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate</title>

    
<div class="container">
 
    
    
    
    
    <form action='/certificate/'  method="get">

        
     

     

        <div class="form-group">
            <label for="discharged_patient">Patient</label>
            <select id="discharged_patient" name="discharged_patient">
               
                {% for ipd in ipd %}
    
                    <option  value="{{ipd.id}}" >{{ipd.patient.name}} IPD</option>
                {% endfor %}
                {% for opd in opd %}
                <option  value="{{opd.id}}" >{{opd.patient.name}} OPD</option>
                {% endfor %}
    
            </select>
           
        </div>

        
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    
    
    <div class="main-header">
    <h1 class="headline">Certificate</h1>
    <div class="side-btns">
    
    

    
    </div>    
    </div>   





    <table class="table">
        <thead>
          <tr>
            
            
            <th>Case ID</th>
            <th>Patient</th>
         
            <th>Gender</th>
            <th>Due Date</th>
            <th>Guardian Name</th>
            <th>Charge</th>
        
            
       
            

            
         
           
          </tr>
        </thead>
        <tbody>
           
            

        {% if result %}
          {% for item in result %}
            <tr>
                
                <td>{{ item.id }}</td>
                <td>{{ item.patient.name }}</td>
              
            
               <td>{{ item.patient.gender }}</td>
               <td>{{ item.issue_date }}</td>
               <td>{{ item.bag }}</td>
               <td>{{ item.standard_charge }}</td>
            
              {% endfor %}
              </tr>
      
        {% else %} 
        <p>No results found.</p>
            
        {% endif %}
              
              
            
        </tbody>
      </table>
    

    </div>
</body>
</html>
