{% include "layout/sidebar.html" %}
<!DOCTYPE html>
<html>
<head>
    <title>Create Test</title>
</head>
<body>
    
    <form method="post" action="{% url "path_test" %}">
        {% csrf_token %}
        <h1>Create Test</h1>
        <div class="form-group">
            <label for="test_name">Test Name *</label>
            <input type="text" id="test_name" name="test_name" required />
        </div>
        
        <div class="form-group">
            <label for="short_name">Short Name *</label>
            <input type="text" id="short_name" name="short_name" required />
        </div>
        
        <div class="form-group">
            <label for="test_type">Test Type</label>
            <input type="text" id="test_type" name="test_type" />
        </div>
        
        <div class="form-group">
            <label for="category_name">Category Name *</label>
            <input type="text" id="category_name" name="category_name" required />
        </div>
        
        <div class="form-group">
            <label for="sub_category">Sub Category</label>
            <input type="text" id="sub_category" name="sub_category" />
        </div>
        
        <div class="form-group">
            <label for="method">Method</label>
            <input type="text" id="method" name="method" />
        </div>
        
        <div class="form-group">
            <label for="report_days">Report Days</label>
            <input type="number" id="report_days" name="report_days" />
        </div>
        
        <div class="form-group">
            <label for="charge_category">Charge Category</label>
            <input type="text" id="charge_category" name="charge_category" />
        </div>
        
        <div class="form-group">
            <label for="charge_name">Charge Name</label>
           <select id= "charge_name" name="charge_name">
            {% for charge in charge %}
            <option value="">{{ charge.charge_type }}</option>
            {% endfor %}
            </select>
        
         </div>
        
        <div class="form-group">
             
            <label for="tax_percentage">Tax (%)</label>
            <input type="number" id="tax_percentage" name="tax_percentage" />
            
        </div>
        
        <div class="form-group">
            <label for="standard_charge">Standard Charge (Rs.) *</label>
            <input type="number" id="standard_charge" name="standard_charge" required />
        </div>
        
        <div class="form-group">
            <label for="amount">Amount (Rs.) *</label>
            <input type="number" id="amount" name="amount" required />
        </div>
        
        <div class="form-group">
            <label for="test_parameter_name">Test Parameter Name *</label>
            <input type="text" id="test_parameter_name" name="test_parameter_name" required />
        </div>
        
        <div class="form-group">
            <label for="reference_range">Reference Range *</label>
            <input type="text" id="reference_range" name="reference_range" required />
        </div>
        
        <div class="form-group">
            <label for="unit">Unit *</label>
            <input type="text" id="unit" name="unit" required />
        </div>
        
        <div class="form-group">
            <button type="submit">Create</button>
        </div>
    </form>

    {% for test in test %}
    <p>{{ test.test_name }}</p>
    {% endfor %}
</body>
</html>
