



{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tax Category</title>
{% load static %}
<div class="container">
    
    
    
  
  <div id="popupContainer" class="form-popup-back">
        <div class="form-Contain">
            <div class="POP">
                <div class="cards">
                  <div class="popup-header">
                    <span id="closePopupBtn" class="close-button">Close</span>
                   
                  </div>
                    <form class="form_popup" method="post" action="{% url 'tax_cat' %}">
                        <h1>Tax Category & Percentage</h1>
        {% csrf_token %}
       
        <div class="form-group">
        <label for="tax_category">Tax Category:</label>
        <input type="text" id="tax_category" name="tax_category" maxlength="100" /><br>
        </div>
        <div class="form-group">
            <label for="percentage">percentage</label>
            <input type="text" id="percentage" name="percentage" maxlength="100" /><br> 
            </div>  
    

        <div class="form-group">
        <label for="unit">Unit:</label>
        <input type="text" id="unit" name="unit" maxlength="100" /><br>
        </div>  

        <button class="btn" type="submit">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


<div class="main-header">
  <h1 class="headline">Tax Category & Percentage</h1>
  <div class="side-btns">

 
  {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
  <a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Tax Category</a>

</div>

    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Tax Category</th>
          <th>Percentage</th>
          <th>Unit</th>
  
        </tr>
      </thead>
      <tbody>
 
        {% for tax in tax %}
          <tr>
            <td>{{ tax.tax_category }}</td>
            <td>{{ tax.percentage }}</td>
            <td>{{ tax.unit }}</td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>


  <script src="{% static "/css/javscript/index.js" %}"></script>


  </div>



