    <!-- your_template.html -->

  <!-- payment_form.html -->


  {% include "layout/header.html" %}
  {% include "layout/sidebar.html" %}
  
  <style>
  
  .apply{
      width:70%;
  }
  </style>
  <div class='container'>
     
      
      
      <div class="main-header">
      <h1 class="headline">Add Hospital Details</h1>
      <div class="side-btns">
      
      
      {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
      <a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Add Hospital Header</a>
    
      
      </div>    
      </div>   
  
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Hospital Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="image">Hospital Image:</label>
            <input type="file" id="image" name="image" class="form-control-file" accept="image/*" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Hospital</button>
    </form>
  

  
      </div>
  <script>
          const openPopupBtn = document.getElementById("openPopupBtn");
          const popupContainer = document.getElementById("popupContainer");
      const closePopupBtn = document.getElementById("closePopupBtn");
      
      function change(){
        popupContainer.style.display = "block";
      }
      closePopupBtn.addEventListener("click", function() {
          popupContainer.style.display = "none";
      });
         
      function applyStandardCommission() {
          // Get the value from the "Standard Commission" field
          const standardCommissionInput = document.getElementById("standard_commission");
          const standardCommissionValue = standardCommissionInput.value;
  
          // Get all the individual commission input fields
          const individualCommissionFields = document.querySelectorAll('.individual-commission');
  
          // Set the standard commission value to all individual commission fields
          individualCommissionFields.forEach(function(field) {
              field.value = standardCommissionValue;
          });
      }
      </script>
  
  </div>
  </body>
  </html>
  