    <!-- your_template.html -->

  <!-- payment_form.html -->


  {% include "layout/header.html" %}
  {% include "layout/sidebar.html" %}
  {% load static %}
  <style>
  
  .apply{
      width:70%;
  }
  .preview{
    width:10rem;
  }
  {% load static %}
  </style>
  <div class='container'>
      <div id="popupContainer" class="form-popup-back">
          <div class="form-Contain">
              <div class="POP">
                  <div class="cards">
                    <div class="popup-header">
                      <span id="closePopupBtn" class="close-button">Close</span>
                      <h1>Add Ads</h1>
                    </div>
                      <form class="form_popup"  enctype="multipart/form-data" method="post" >
                          {% csrf_token %}
  
                          <div class="form-group">
                            <label for="image">Ads Image:</label>
                            <input type="file" id="image" name="image" class="form-control-file" accept="image/*" required>
                        </div>
                          
                          <div style="text-align: center;">
                              <input type="submit" value="Submit">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          </div>
          
      
      
      
      
      
      
      
      <div class="main-header">
      <h1 class="headline">Ads</h1>
      <div class="side-btns">
      
      
      {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
      <a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Add Ads </a>
    
      
      </div>    
      </div>   
  
  
  
  
  
      <table class="table">
          <thead>
            <tr>
              
              <th>Image</th>
              <th>Action</th>
        
  
              
             
                
             
            </tr>
          </thead>
          <tbody>
            
            {% for img in img %}
              <tr>
  
                  <td><img class="preview" src= "/{{img.ads}}"  ></td>
                  <td><a href="{{img.id}}" >Edit</a></td>
          
                
                
                
            
              
              </tr>
            {% endfor %}
          </tbody>
        </table>
      
  
      </div>
      
<script src="{% static "/css/javscript/index.js" %}"></script>
  <script>
          {% comment %} const openPopupBtn = document.getElementById("openPopupBtn");
          const popupContainer = document.getElementById("popupContainer");
      const closePopupBtn = document.getElementById("closePopupBtn");
      
      function change(){
        popupContainer.style.display = "block";
      }
      closePopupBtn.addEventListener("click", function() {
          popupContainer.style.display = "none";
      }); {% endcomment %}
         
      function applyStandardCommission() {
          // Get the value from the "Standard Commission" field
          const standardCommissionInput = document.getElementById("standard_commission");
          const standardCommissionValue = standardCommissionInput.value;
  
          // Get all the individual commission input fields
          const individualCommissionFields = document.querySelectorAll('.individual-commission');
  
          // Set the standard commission value to all individual commission fields
          individualCommissionFields.forEach(function(field) {
              field.value = standardCommissionValue;
          });
      }
      </script>
  
  </div>
  </body>
  </html>
  