{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Ads</title>


<div class="container">
    <form class="form_popup"  enctype="multipart/form-data" method="post" >
        {% csrf_token %}

        <div class="form-group">
          <label for="image">Ads Image:</label>
          <input type="file" id="image" name="image" class="form-control-file" accept="image/*" required>
      </div>
        
        <div style="text-align: center;">
            <input type="submit" value="Submit">
        </div>
    </form>

</div>