




    <!-- create_child.html -->
    {% include "layout/header.html" %}
    {% include "layout/sidebar.html" %}
    {% load static %}
    <div class="container">
    
    <div id="popupContainer" class="form-popup-back">
        <div class="form-Contain">
            <div class="POP">
                <div class="cards">
                  <div class="popup-header">
                    <span id="closePopupBtn" class="close-button">Close</span>
                    <h1>Add Item </h1>
                  </div>
                    <form class="form_popup" method="post" action="{% url 'expense_item' %}">
               
    
                    
    {% csrf_token %}<div class="form-group">
        <label for="item_name">Item Name:</label>
        <input type="text" class="form-control" id="item_name" name="item_name" required>
    </div>




    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" step="0.01" class="form-control" id="price" name="price" required>
    </div>


    <div class="form-group">
        <label for="price">Price:</label>
       <select name="tax_rate">
        <option value="0">None</option> 
        <option value="0">IGST 0%</option> 
        <option value="0">GST 0%</option> 
        <option value="0.25">IGST 0.25%</option> 
        <option value="0.25">GST 0.25%</option> 
        <option value="3">IGST 3%</option> 
        <option value="3">GST 3%</option> 
        <option value="5">IGST 5%</option> 
        <option value="5">GST 5%</option> 
        <option value="12">IGST 12%</option> 
        <option value="12">GST 12%</option> 
        <option value="18">IGST 18%</option> 
        <option value="18">GST 18%</option> 
        <option value="28">IGST 28%</option> 
        <option value="0">Exempt</option> 
       </select>
    </div>

   

                        
                        <div style="text-align: center;">
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            </div>
        
        </div>
        
    
    
    
    
    
    
    
    <div class="main-header">
    <h1 class="headline">  Add Expense Item</h1>
    <div class="side-btns">
    
    
    {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
    <a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Add  Expense Item </a>
    
    </div>    
    </div>    
    
    
    
    
    <table class="table">
        <thead>
          <tr>
            <th> Name</th>
            <th> Price</th>
            <th>Tax</th>
            
            
           
              
           
          </tr>
        </thead>
        <tbody>
          
          {% for item in item %}
            <tr>
                <td>{{ item.item_name }}</td>
               <td>{{ item.price }}</td>
              
              <td>{{ item.tax }}</td>
            
              
          
            
            </tr>
          {% endfor %}
        </tbody>
      </table>
    
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static "/css/javscript/index.js" %}"></script>    
    
    <script>
        {% comment %} const openPopupBtn = document.getElementById("openPopupBtn");
    const popupContainer = document.getElementById("popupContainer");
    const closePopupBtn = document.getElementById("closePopupBtn");
    
    function change(){
      popupContainer.style.display = "block";
    }
    closePopupBtn.addEventListener("click", function() {
        popupContainer.style.display = "none";
    }); {% endcomment %}

    $(document).ready(function () {
        // Listen for changes in the vehicle_model select field
        $('#vehicle_model').change(function () {
            var selectedVehicle = $(this).val();
            // Make an AJAX request to fetch the driver name for the selected vehicle
            $.ajax({
                type: 'GET',
                url: '/get_driver_name', // Replace with your actual URL
                data: { 'vehicle_model': selectedVehicle },
                success: function (data) {
                    // Update the driver_name input field with the retrieved value
                    $('#driver_name').val(data.driver_name);
                },
                error: function () {
                    // Handle errors if any
                }
            });
        });
    });
       </script> 
       
  