{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nurse</title>


<div class='container'>
    {% include "layout/ipd-navbar.html" %}





<div id="popupContainer" class="form-popup-back">
    <div class="form-Contain">
        <div class="POP">
            <div class="cards">
              <div class="popup-header">
                <span id="closePopupBtn" class="close-button">Close</span>
                <h1>Add OPD Record</h1>
              </div>
                <form class="form_popup" method="post" action="{% url 'nurse' %}">
                    {% csrf_token %}
                     <!-- Basic Information -->
  
                       
    <div class="form-group">
        <label for="date">Date *</label>
        <input type="date" id="date" name="date" required>
    </div>
    
    <div class="form-group">
        <label for="nurse">Nurse *</label>
        <select id="nurse" name="nurse" required>
            <option value="Nurse1">Nurse 1</option>
            <option value="Nurse2">Nurse 2</option>
            <option value="Nurse3">Nurse 3</option>
            <!-- Add more nurse options as needed -->
        </select>

    
    <div class="form-group">
        <label for="note">Note *</label>
        <textarea id="note" name="note" rows="3" required></textarea>
    </div>
    
    <div class="form-group">
        <label for="comment">Comment *</label>
        <textarea id="comment" name="comment" rows="3" required></textarea>
    </div>
    
        
                    
                    <div style="text-align: center;">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    







