{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>





    <div class="container">
        <style>

            .popupContainer8 .POP{
                width:55% !important;
            }
            .left-sidebar{
                display:flex;
            }
            /* Navbar Styles */
            .container{
                background-color: #f6f4fb !important;
              }
            .third{
                

            }
            .ipd-navbar {
              
                color: #fff;
                padding: 10px ;
                border: #b3b3b3 solid;
                border-width: 1px 0px 0px 0px;
            }
            .ipd-left{
                margin:3rem;
                padding:3rem;
                background-color:white;
                border-radius:20px;
                
                box-shadow: 19px 20px 35px -20px rgba(0,0,0,0.75);
            }
            .ipd-left h2{
                margin-top:5px;
            }
            .ipd{
                display:flex;
                
            }
            .nursenote h1,p,.doctor h1{
                text-align:left;
                padding:1rem;
            }
            .ipd table{
                width:50%;
                padding:2rem;
            }
            .ipd canvas{
                width:50%;
            }
            .ipd-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
    
            .ipd-navbar-brand {
                font-size: 24px;
                font-weight: bold;
                text-decoration: none;
                color: #fff;
            }
           
            .patient-overview table th{
                padding:1.5rem;
                font-size: 14px;
                color:#7f7d7d;
            }
            .patient-overview{
                border:solid #dfdbdb;
                border-width:1px !important;
            }
    
            .ipd-navbar-brand:hover {
                text-decoration: none;
                color: #fff;
            }
    
            .ipd-navbar-nav {
                list-style: none;
                padding: 0;
                display:flex;
                margin: 0;
            }
    
            .ipd-nav-item {
                display: inline;
                margin-right: 20px;
            }
    
            .ipd-nav-link {
                text-decoration: none;
                color: black;
    
                padding:10px ;
                padding-left:20px;
                padding-right:20px;
            }
    
            .ipd-nav-link:hover {
                text-decoration: none;
                color: #ff6600;
                background:#605BFF ;
                border: #f39c12  solid;
                border-width: 0px 0px 5px 0px;
                border-radius:10px 10px 0px 0px;
            }
            .off{
                display:none;
            }
            .toggleable {
                display: none;
                padding: 20px;
                background-color: #f5f5f5;
                border: 1px solid #ccc;
            }
        
            /* Style for the "clicked" class on the active link */
            .clicked {
                font-weight: bold;
            }
            .patient_ipd h1{
                margin:10px;
                color: #383869 !important;
                padding:3px;
                text-align:left;
            }
            .patient_ipd p{
                margin-left:11px !important;
                padding:4px !important;
                
            }
            .patient_ipd{
                border: solid #dfdbdb;
                border-width:0px 0px 1px 0px; 

            }
            td{
                padding-left:20rem;
                color:#857f7f;
            }
            .left_ipd{
                width:50%;
            }
            .right_ipd{
                width:45%;
            }
            table{
                margin-top:1rem;
            }
         
            @media only screen and (max-width:768px) and (min-width:300px) {
                .left-sidebar{
                    display:block !important;
                    width:90%;
                }
                .left_ipd{
                    width:100%;
                }
                .ipd-left{
                    width:100%;
                    margin:10px !important;
                    padding:1rem !important;
                }
                td{
                    padding-left:10rem;
                }
                .right_ipd{
                    width:100%;
                }
                #radio_billing{
                    height:100%% !important;
                }
            }
        </style>
    </head>
    <body>
        <div class="ipd-navbar">
            <div class="ipd-container">
                
                <ul class="ipd-navbar-nav">
                    <li class="ipd-nav-item"><a href="#overview" class="ipd-nav-link">Profile</a></li>
                    <li class="ipd-nav-item {% if request.resolver_match.url_name == '#nurse' %}clicked{% endif %}"><a href="#nurse" class="ipd-nav-link">Nurse Note</a></li>
                    <li class="ipd-nav-item"><a href="#doctor" class="ipd-nav-link">Doctor Note</a></li>
                    <li class="ipd-nav-item"><a href="#medicine" class="ipd-nav-link">Medication</a></li>
                    <li class="ipd-nav-item"><a href="#consultant" class="ipd-nav-link">Consultant</a></li>
                    <li class="ipd-nav-item"><a href="#operation" class="ipd-nav-link">Operation</a></li>
                    <li class="ipd-nav-item"><a href="#payment" class="ipd-nav-link">Payment</a></li>
                    <li class="ipd-nav-item"><a href="#prescription" class="ipd-nav-link">Prescription</a></li>
                    <!-- Add more menu items as needed -->
                </ul>
            </div>
        </div>



        <section id="overview"class="overview toggeable ">
            {% for ipd in ipd %}
            
            
            
        <div class="left-sidebar">
            <div class="left_ipd">
            <div class="patient-overview ipd-left">
                <div class="patient_ipd">
                    <h1>{{ipd.patient}} </h1>

                    <p> {{ipd.symptoms_title}} </p>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Gender</th>
                            <td>{{ipd.patient.gender}}</td>
                        </tr>
                        <tr>
                            <th>Age</th>    
                            <td>{{ipd.age}}</td>
                        </tr>
                        <tr>
                            <th>Guardian Name</th>
                            <td>{{ipd.patient.guardian_name}} </td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{ipd.patient.phone}}</td>
                        </tr>
                        <tr>
                            <th>Height </th>
                            <td>{{ipd.height}}</td>
                        </tr>
                        <tr>
                            <th>weight</th>
                            <td>{{ipd.weight}}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{ipd.temperature}}</td>
                        </tr>

                        <tr>
                            <th>Case ID </th>
                            <td>{{ipd.id}}</td>
                        </tr>
                        <tr>
                            <th>IPD No </th>    
                            <td>{{ipd.id}}</td>
                        </tr>
                        <tr>
                            <th>Admission Date</th>
                            <td>{{ipd.admission_date}}</td>
                        </tr>
                        <tr>
                            <th>Bed</th>
                            <td>{{ipd.bed_number}}</td>
                        </tr>

                        <tr>
                            <th>Consultant Doctor</th>
                            <td>{{ipd.consultant_doctor}}</td>
                        </tr>
                    </thead>
                    </table>
                    
            </div>
            </div>
            <div class="right_ipd">
         
            <div class="ipd-left">
                <canvas id="radio_billing" style="width:100%;max-width:600px"></canvas>
                
                
            </div>

            <div class="doctor ipd-left">
                <h2>Finding</h2>
                <li> 
                    <ul> {{ipd.findings}}</ul>
                </li>
        
            </div>
            {% endfor %}
            <div class="nursenote ipd-left">
                <h1>
                    Nurse Note
                </h1>
                {% for nurse in nurse %}
                <div class="note">
                    <h1>{{nurse.nurse}}</h1>
                    
                
                      
                    
                    
                  
                    <p>{{nurse.comment}}</p>
                </div>
                {% endfor %}
            </div>
            </div>
        
            
        </div>
        </section>



        <section id="nurse"class="nurse toggeable " >
            <div class="main-header">
                <h1 class="headline">Nurse Note</h1>
                <div class="side-btns">
                
                
                {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
                <button  class="btn-primary btn openPopupBtn" data-popup="1" class="openPopupBtn" id="openPopupBtn">Add Note</button>
                
            </div>    
                </div>
    
                
    <div id="popupContainer1" class="form-popup-back">
        <div class="form-Contain">
            <div class="POP">
                <div class="cards">
                  <div class="popup-header">
                    <span id="closePopupBtn" class="close-button">Close</span>
                    <h1>Add Nurse Note</h1>
                  </div>
                  
               
                   
          
                  {% for ipd in ipd %}
                  
                  
    
                   
                    <form class="form_popup" method="post" action="{% url 'nurse' ipd.id%}">
                        {% endfor %}
                        {% csrf_token %}
                         <!-- Basic Information -->
      
                           
                                
                                <div class="form-group">
                                    <label for="date">Date *</label>
                                    <input type="date" id="date" name="date" required>
                                </div>
                    
                            <div class="form-group">
                                    <label for="nurse">Nurse *</label>
                                <select id="nurse" name="nurse" required>
                                    <option value="Nurse1">Nurse 1</option>
                                        <option value="Nurse2">Nurse 2</option>
                                <option value="Nurse3">Nurse 3</option>
                            <!-- Add more nurse options as needed -->
                                        </select>
    
                            </div>
                            <div class="form-group">
                                        <label for="note">Note *</label>
                                        <textarea id="note" name="note" rows="3" required></textarea>
                            </div>
                                    
                            <div class="form-group">
                                        <label for="comment">Comment *</label>
                                        <textarea id="comment" name="comment" rows="3" required></textarea>
                         </div>
                                    
                                        
                                                    
                                                    <div style="text-align: center;">
                                                        <input type="submit" value="Submit">
                                                     </div>
                     </form>
                </div>
            </div>
        </div>
    </div>
    
                
                <table class="table">
                    <thead>
                      <tr>
                        
                        <th>Patient Name </th>
                        <th>Date</th>
                        <th>Nurse Name</th>
                       
                       
                      </tr>
                    </thead>
                    <tbody>
                      
                      {% for nurse in nurse %}
                        <tr>
                            
                          <td>{{ nurse.patient }}</td>
                          <td>{{ nurse.date }}</td>
                            
                          <td>{{ nurse.nurse }}</td>
                          
                          
                        
                        
                      {% endfor %}
                      
                    
                    </tbody>
                  </table>
                
                  
    </section>




<section id="doctor"class="doctor toggeable " >


    
        <div class="main-header">
            <h1 class="headline">Doctor Note</h1>
            <div class="side-btns">
            
            
            {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
            <button  class="btn-primary btn openPopupBtn" data-popup="2"  id="openDoc">Add Note</button>
            
        </div>    
            </div>

            
<div id="popupContainer2" class="form-popup-back">
    <div class="form-Contain">  
        <div class="POP">
            <div class="cards">
              <div class="popup-header">
                <span id="closePopupBtn" class="close-button">Close</span>
                <h1>Add Doctor Note</h1>
              </div>
              {% for ipd in ipd %}
              
              

               
                <form class="form_popup" method="post" action="{% url 'doctor' ipd.id%}">
                    {% endfor %}
                    {% csrf_token %}
                     <!-- Basic Information -->
  
                     
                            
                            <div class="form-group">
                                <label for="date">Date *</label>
                                <input type="date" id="date" name="date" required>
                            </div>
                
                        <div class="form-group">
                              
                            <select id="doctor" name="doctor">
                                <option value="">Select A Doctor </option>
                                {% for doctor in doctor %}
                                    <option value="{{doctor.name}}">{{ doctor.name }}</option>
                    
                                {% endfor %}
                        </div>
                        <div class="form-group">
                                    <label for="note">Note *</label>
                                    <textarea id="note" name="note" rows="3" required></textarea>
                        </div>
                                
                        <div class="form-group">
                                    <label for="comment">Comment *</label>
                                    <textarea id="comment" name="comment" rows="3" required></textarea>
                     </div>
                                
                                    
                                                
                                                <div style="text-align: center;">
                                                    <input type="submit" value="Submit">
                                                 </div>
                 </form>
            </div>
        </div>
    </div>
</div>





            
            <table class="table">
                <thead>
                  <tr>
                    
                    <th>Patient Name </th>
                    <th>Date</th>
                    <th>Nurse Name</th>
                   
                   
                  </tr>
                </thead>
                <tbody>
                  
                  {% for doc in doc_note %} 
                    <tr>
                        
                      <td>{{ doc.patient }}</td>
                      <td>{{ doc.date }}</td>
                        
                      <td>{{ doc.doctor }}</td>
                      
                      
                    
                    
                  {% endfor %}
                  
                
                </tbody>
              </table>  
            

              
            
            
              
</section>
       



<section id="medicine"class="medicine toggeable " >
    <div class="main-header">
        <h1 class="headline">Add Dosage</h1>
        <div class="side-btns">
        
        
        {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
        <button  class="btn-primary btn openPopupBtn" data-popup="4" class="openPopupBtn" id="openPopupBtn">Add Dosage</button>
        
    </div>    
        </div>

        
<div id="popupContainer4" class="form-popup-back">
<div class="form-Contain">
    <div class="POP">
        <div class="cards">
          <div class="popup-header">
            <span id="closePopupBtn" class="close-button">Close</span>
            <h1>Add Dosage Note</h1>
          </div>
          {% for ipd in ipd %}
          
          

           
            <form class="form_popup" method="post" action="{% url 'dosage' ipd.id%}">
                {% endfor %}
                {% csrf_token %}
                 <!-- Basic Information -->

                   
                        
                        
                            <div class="form-group">
                                <label for="date">Date *</label>
                                <input type="date" name="date" required>
                            </div>
                            <div class="form-group">
                                <label for="time">Time</label>
                                <input type="time" name="time">
                            </div>
                            <div class="form-group">
                                <label for="medicine_category">Medicine Category *</label>
                                <input type="text" name="medicine_category" required>
                            </div>
                            <div class="form-group">
                                <label for="medicine_name">Medicine Name *</label>
                                <input type="text" name="medicine_name" required>
                            </div>
                            <div class="form-group">
                                <label for="dosage">Dosage *</label>
                                <input type="text" name="dosage" required>
                            </div>
                            <div class="form-group">
                                <label for="remarks">Remarks</label>
                                <textarea name="remarks" rows="4"></textarea>
                            </div>
                            
                                
                                            
                                            <div style="text-align: center;">
                                                <input type="submit" value="Submit">
                                             </div>
                                             
             </form>
        </div>
    </div>
</div>
</div>


        
        <table class="table">
            <thead>
              <tr>
                
                <th>Dosage </th>
                <th>Time</th>
                <th>Medicine Category</th>
                <th>Medicine Name</th>
               
               
              </tr>
            </thead>
            <tbody>
              
              {% for medicine in medicine %}
                <tr>
                    
                  <td>{{ medicine.dosage }}</td>
                  <td>{{ medicine.time }}</td>
                    
                  <td>{{ medicine.medicine_category}}</td>
                  <td>{{ medicine.medicine_name }}</td>
                  
                  
                
                
              {% endfor %}
              
            
            </tbody>
          </table>
        
          
</section>






<section id="operation"class="operation toggeable " >
    <div class="main-header">
        <h1 class="headline">Add Operation</h1>
        <div class="side-btns">
        
        
        {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
        <button  class="btn-primary btn openPopupBtn" data-popup="6" class="openPopupBtn" id="openPopupBtn">Add Operation</button>
        
    </div>    
        </div>

        
<div id="popupContainer6" class="form-popup-back">
<div class="form-Contain">
    <div class="POP">
        <div class="cards">
          <div class="popup-header">
            <span id="closePopupBtn" class="close-button">Close</span>
            <h1>Add Operation </h1>
          </div>
          {% for ipd in ipd %}
          
          

           
            <form class="form_popup" method="post" action="{% url 'ipd_operation' ipd.id%}">
                {% endfor %}
                {% csrf_token %}
                 <!-- Basic Information -->

                   
                 <div class="form-group">
                    <label for="operation_category">Operation Category *</label>
                    <input type="text" id="operation_category" name="operation_category" required>
                </div>
                <div class="form-group">
                    <label for="operation_name">Operation Name *</label>
                    <input type="text" id="operation_name" name="operation_name" required>
                </div>
                <div class="form-group">
                    <label for="operation_date">Operation Date *</label>
                    <input type="date" id="operation_date" name="operation_date" required>
                </div>
                <div class="form-group">
                    <label for="consultant_doctor">Consultant Doctor *</label>
                    <input type="text" id="consultant_doctor" name="consultant_doctor" required>
                </div>
                <div class="form-group">
                    <label for="operation_assistant">Operation Assistant *</label>
                    <input type="text" id="operation_assistant" name="operation_assistant" required>
                </div>
                <div class="form-group">
                    <label for="anesthesia_type">Anesthesia Type</label>
                    <input type="text" id="anesthesia_type" name="anesthesia_type">
                </div>
                <div class="form-group">
                    <label for="ot_technician">OT Technician</label>
                    <input type="text" id="ot_technician" name="ot_technician">
                </div>
                <div class="form-group">
                    <label for="ot_assistant"> Assistant 1</label>
                    <input type="text" id="ot_assistant" name="ot_assistant">
                </div>

                <div class="form-group">
                    <label for="assistant2">Assistant 2</label>
                    <input type="text" id="assistant2" name="assistant2">
                </div>
                <div class="form-group">
                    <label for="remark">Remark</label>
                    <textarea id="remark" name="remark" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label for="result">Result</label>
                    <textarea id="result" name="result" rows="4"></textarea>
                </div>
                                
                                            
                                            <div style="text-align: center;">
                                                <input type="submit" value="Submit">
                                             </div>
                                             
             </form>
        </div>
    </div>
</div>
</div>


        
        <table class="table">
            <thead>
              <tr>
                
                <th>Operation Category </th>
                <th>Operation Name</th>
                <th>Operation Date</th>
                <th>Consultant Doctor</th>
                <th>Operation Assistant</th>
                
               
               
              </tr> 
            </thead>
            <tbody>
              
              {% for operation in operation %}
                <tr>
                    
                  <td>{{ operation.applied_date }}</td>
                  <td>{{ consultant.instruction_date }}</td>
                    
                  <td>{{ consultant.consultant_doctor}}</td>
                  <td>{{ consultant.consultant_name }}</td>
                  
                  
                
                
              {% endfor %}
              
            
            </tbody>
          </table>
        
          
</section>






<section id="consultant"class="consultant toggeable " >
    <div class="main-header">
        <h1 class="headline">Add Dosage</h1>
        <div class="side-btns">
        
        
        {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
        <button  class="btn-primary btn openPopupBtn" data-popup="5" class="openPopupBtn" id="openPopupBtn">Add Consultant</button>
        
    </div>    
        </div>

        
<div id="popupContainer5" class="form-popup-back">
<div class="form-Contain">
    <div class="POP">
        <div class="cards">
          <div class="popup-header">
            <span id="closePopupBtn" class="close-button">Close</span>
            <h1>Add Consultant Register </h1>
          </div>
          {% for ipd in ipd %}
          
          

           
            <form class="form_popup" method="post" action="{% url 'consultant_register' ipd.id%}">
                {% endfor %}
                {% csrf_token %}
                 <!-- Basic Information -->

                   
                        
                        
                 <div class="form-group">
                    <label for="applied_date">Applied Date *</label>
                    <input type="date" id="applied_date" name="applied_date" required>
                </div>
                <div class="form-group">
                    <label for="instruction_date">Instruction Date *</label>
                    <input type="date" id="instruction_date" name="instruction_date" required>
                </div>
                <div class="form-group">
                    <label for="consultant_doctor">Consultant Doctor *</label>
                    <input type="text" id="consultant_doctor" name="consultant_doctor" required>
                </div>
                <div class="form-group">
                    <label for="instruction">Instruction *</label>
                    <textarea id="instruction" name="instruction" rows="4" required></textarea>
                </div>  
                                
                                            
                                            <div style="text-align: center;">
                                                <input type="submit" value="Submit">
                                             </div>
                                             
             </form>
        </div>
    </div>
</div>
</div>


        
        <table class="table">
            <thead>
              <tr>
                
                <th>Applied Date </th>
                <th>Instruction Date</th>
                <th>Consultant Doctor</th>
                
               
               
              </tr> 
            </thead>
            <tbody>
              
              {% for consultant in consultant %}
                <tr>
                    
                  <td>{{ consultant.applied_date }}</td>
                  <td>{{ consultant.instruction_date }}</td>
                    
                  <td>{{ consultant.consultant_doctor}}</td>
                  <td>{{ consultant.consultant_name }}</td>
                  
                  
                
                
              {% endfor %}
              
            
            </tbody>
          </table>
        
          
</section>









<section id="payment"class="payment toggeable " >
    <div class="main-header">
        <h1 class="headline">Add Payment</h1>
        <div class="side-btns">
        
        
        {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
        <button  class="btn-primary btn openPopupBtn" data-popup="7" class="openPopupBtn" id="openPopupBtn">Add Consultant</button>
        
    </div>    
        </div>

        
<div id="popupContainer7" class="form-popup-back">
<div class="form-Contain">
    <div class="POP">
        <div class="cards">
          <div class="popup-header">
            <span id="closePopupBtn" class="close-button">Close</span>
            <h1>Add Consultant Register </h1>
          </div>
          {% for ipd in ipd %}
          
          

           
            <form class="form_popup" method="post" action="{% url 'ipd_payment' ipd.id%}">
                {% endfor %}
                {% csrf_token %}
                 <!-- Basic Information -->
                 
                 <div class="form-group">
                    <label for="date">Date *</label>
                    <input type="date" id="date" name="date" required>
                </div>
                <div class="form-group">
                    <label for="amount">Amount ($) *</label>
                    <input type="number" step="0.01" id="amount" name="amount" required>
                </div>
                <div class="form-group">
                    <label for="payment_mode">Payment Mode *</label>
                    <select id="payment_mode" name="payment_mode">
                        <option value="Cash">Cash</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="note">Note</label>
                    <textarea id="note" name="note" rows="4"></textarea>
                </div>

                   
               
                                
                                            
                                            <div style="text-align: center;">
                                                <input type="submit" value="Submit">
                                             </div>
                                             
             </form>
        </div>
    </div>
</div>
</div>


        
        <table class="table">
            <thead>
              <tr>
                
                
                <th>Amount</th>
                <th>Date</th>
                <th>Payment Mode </th>  
                
                
               
               
              </tr> 
            </thead>
            <tbody>
              
              {% for payment  in payment %}
                <tr>
                    
                  <td>{{ payment.date }}</td>
                  <td>{{ payment.amount }}</td>
                    
                  <td>{{ payment.payment_mode}}</td>
                  
                  
                  
                
                
              {% endfor %}
              
            
            </tbody>
          </table>
        
          
</section>





<section id="prescription"class="prescription toggeable " >
    <div class="main-header">
        <h1 class="headline">Add Prescription</h1>
        <div class="side-btns">
        
        
            {% for ipd in ipd %}
        
             <a href="/prescreption/{{ipd.id}}">Add Prescription</a>
            {% endfor %}
        
    </div>    
        </div>
        
{% comment %} 
        
<div id="popupContainer8" class="form-popup-back">
<div class="form-Contain">
    <div class="POP">
        <div class="cards">
          <div class="popup-header">
            <span id="closePopupBtn" class="close-button">Close</span>
            <h1>Add Prescription </h1>
          </div>
          {% for ipd in ipd %}
          
          

           
            <form class="form_popup" method="post" action="{% url 'ipd_prep' ipd.id%}">
                {% endfor %}
                {% csrf_token %}
                 <!-- Basic Information -->
                 <input type="hidden" name="item_counter" id="item_counter" value="0">
                 <div class="form-group">
                    <label for="finding_category">Finding Category</label>
                    <input type="text" id="finding_category" name="finding_category" required>
                </div>
                <div class="form-group">
                    <label for="findings">Finding</label>
                    <input type="text" step="0.01" id="findings" name="findings" required>
                </div>
                <div class="form-group">
                    <label for="doctor">Prescribed By</label>
                    <select id="doctor" name="doctor">
                        <option value="">Select A Doctor </option>
                        {% for doctor in doctor %}
                            <option value="{{doctor.first_name}}">{{ doctor.first_name }}</option>
            
                        {% endfor %}
                    </select>

                </div>


                <div class="form-group">
                    <label for="finding_description">Finding Description</label>
                    <textarea id="finding_description" name="finding_description" rows="4"></textarea>
                </div>

                <table class="table">
                    <thead>
                      <tr>
                        <th>Medicine Category </th>
                        <th>Medicine</th>
                        <th>Dosage</th>
                        <th>Interval</th>
                        <th>Duration</th>
                        
            
                          
                       
                      </tr>
                    </thead>
                    <tbody class="prep">
                      
                       
        
                        
                    </tbody>
                  </table>
        

                   
               
                                
                                            
                                            <div style="text-align: center;">
                                                <input type="submit" value="Submit">
                                             </div>
                                             
                                          
                                    
                                    
                                            
                                        </form>
                                    
                                        <button type="button" id="addItemButton" class="btn btn-secondary">Add Item</button>
                                    
                                    
                                    
                                        
        </div>
    </div>
</div>
</div>
 {% endcomment %}

        
        <table class="table">
            <thead>
              <tr>
                
                
                <th>Finding Category</th>
                <th>Findings</th>
                <th>Finding Description </th>  
                <th>Doctor </th>  
                
                
               
               
              </tr> 
            </thead>
            <tbody>
              
              {% for prep  in prep %}
                <tr>
                    
                  <td>{{ prep.finding_category }}</td>
                  <td>{{ prep.findings }}</td>
                    
                  <td>{{ prep.finding_description}}</td>
                  <td>{{ prep.doctor}}</td>
                  
                  
                  
                
                
              {% endfor %}
              
            
            </tbody>
          </table>
        
          
</section>



<script>
    
 
    itemCounter = 0;
    function createNewItemRow() {
           
        itemCounter++;
        $('#item_counter').val(itemCounter);

        const newRow = `
        <tr class="item-row" id="itemRow${itemCounter}">
            <td>
                <select class="form-control" id="medicine_category_${itemCounter}" name="medicine_category_${itemCounter}">
                    <option value="medicine_category">Select An Item</option>
                    {% for cat in cat %}
                        <option value="{{cat.medicine_category}}" >{{cat.medicine_category}}</option>
                        <!-- Add more category options as needed -->
                    {% endfor %}
                </select>
            </td>
            
            <td>
                <select class="form-control" id="medicine_${itemCounter}" name="medicine_${itemCounter}">
                    <option value="medicine">Select A medicine</option>
                    {% for name in medicine_name %}
                        <option value="{{name.name}}" >{{name.name}}</option>
                        <!-- Add more category options as needed -->
                    {% endfor %}
                </select>
            </td>

          

            <td>
                <select class="form-control" id="dosage_${itemCounter}" name="dosage_${itemCounter}">
                    <option value="medicine">Select A medicine</option>
                    {% for dosage in dosage %}
                        <option value="{{dosage.dose}}" >{{dosage.dose}}</option>
                        <!-- Add more category options as needed -->
                    {% endfor %}
                </select>
            </td>

            <td>
                <select class="form-control" id="dose_interval_${itemCounter}" name="dose_interval_${itemCounter}">
                    <option value="dose_interval">Select A Interval</option>
                    {% for dosage in dosage %}
                        <option value="{{dosage.interval}}" >{{dosage.interval}}</option>
                       
                    {% endfor %}
                </select>
            </td>


            <td>
                <select class="form-control" id="duration_${itemCounter}" name="duration_${itemCounter}">
                    <option value="duration">Select A duration</option>
                    {% for dosage in dosage %}
                        <option value="{{dosage.duration}}" >{{dosage.duration}}</option>
                        <!-- Add more category options as needed -->
                    {% endfor %}
                </select>
            </td>

        </tr>
    `;

    // Append the new row to the table body
    $('.prep').append(newRow);
        
    }
    createNewItemRow();
    

    // Function to remove an item row
    function removeItemRow(rowNumber) {
        // Remove the specified item row
        $(`#itemRow${rowNumber}`).remove();
    }

    // Add an event listener to the "Add Item" button
    $('#addItemButton').on('click', function () {
        createNewItemRow();
    });



toggle()
    document.addEventListener('DOMContentLoaded', function () {
        const openPopupBtns = document.querySelectorAll('.openPopupBtn');
        console.log(openPopupBtns)


openPopupBtns.forEach(button => {
    button.addEventListener('click', () => {
        const popupId = button.getAttribute('data-popup');
        console.log(popupId)
        openPopup(popupId);
    });
});


function openPopup(popupId) {
    console.log(popupId)
    const popupContainer = document.querySelector('#popupContainer'+popupId);
    console.log(popupContainer)
    popupContainer.style.display = 'block';

    const closePopupBtn = popupContainer.querySelector('#closePopupBtn');
    closePopupBtn.addEventListener('click', () => {
        popupContainer.style.display = 'none';
    });
}
});


function toggle(){
    var sections = document.querySelectorAll('.toggeable')
    sections.forEach(function(section) {
        section.classList.add('off');
    });

    var selectedSection = document.querySelector('#overview');
        if (selectedSection) {
            selectedSection.classList.remove('off');
        }

}

    
   
    function toggleSection(sectionId) {
        // Hide all sections with class "toggleable"
        var sections = document.querySelectorAll('.toggeable');
        sections.forEach(function(section) {
            section.classList.add('off');
        });

        // Show the selected section
        var selectedSection = document.querySelector(sectionId);
        if (selectedSection) {
            selectedSection.classList.remove('off');
        }
    }

    // Add an event listener to each navigation link
    document.addEventListener('DOMContentLoaded', function() {
        var navLinks = document.querySelectorAll('.ipd-nav-link');
        navLinks.forEach(function(link) {
            link.addEventListener('click', function(e) {
                e.preventDefault(); // Prevent the default link behavior

                var sectionId = link.getAttribute('href');
                toggleSection(sectionId);
            });
        });
    });
    var xValues = ['credit limit'];
    var yValues = [2000];
    
    var barColors = [
    '#605bff',
      
    ];
  
    new Chart("creditlimit", {
      type: "doughnut",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "Credit Limit"
        }
      }
    });
    


    document.addEventListener('DOMContentLoaded', function () {
        // Sample data for the chart
        var data = {
            categories:['Radiology', 'Pathology', 'Blood', 'Ambulance'],
            series: [{
                name: 'Series 1',
                data: [5, 10, 15, 20, 25]
            }]
        };

        // Create the chart
        Highcharts.chart('radio', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Sample Chart'
            },
            xAxis: {
                categories: data.categories
            },
            yAxis: {
                title: {
                    text: 'Values'
                }
            },
            series: data.series
        });
    });
  
{% comment %}   
    label:['Radiology', 'Pathology', 'Blood', 'Ambulance']       backgroundColor: ['#', '#', '#', '#', 'gold', '#ff7d5c'],,
             
    data: [10, 20, 15, 25], {% endcomment %}
        const data = {
            labels: ['January', 'Feburary','March','April','May','June','July','August','September','October','December'],
            datasets: [
              
              {
                label: 'Radiology',
                
                data: [0,20,12,13,15],
                
                borderColor: '#ff55c4',
          
              },
              {
                label: 'Pathology',
                data: [0,12,20,12,15],
                borderColor: '#605bff',    
              },

              {
                label: 'Blood',
                data: [0,15,16,19,11],
                borderColor: '#7a5cff',    
              },
              
              {
                label: 'Ambulance',
                data: [0,15,16,19,20],
                borderColor: '#5dd871',    
              },
           
              

            ]
          };
      
        
          const config = {
            type: 'line',
            data: data,
            options: {
              responsive: true,
              plugins: {
                legend: {
                  position: 'top',
                },
                title: {
                  display: true,
                  text: 'Chart.js Line Chart'
                }
              }
            },
          };
      
          const ctx = document.getElementById('radio_billing').getContext('2d');
      
          // Create the chart using Chart.js
          const myChart = new Chart(ctx, config);

    

        

</script>
</div>








