{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPD</title>


{% load static %}
<style>
    select {
        display: block;
    }
    .POP{
        width:60% !important;
        margin-top:5rem;
    }
    

    .side-btns{
        display:flex;
        margin-top:0px;
    }
    .side-btns a{
        margin:3rem 1rem 1rem 1rem;
    }  
@media only screen and (max-width:768px) and (min-width:300px) {
    .form-group{
        margin:0px !important;
    }
    .POP{
        width:90% !important;
        margin-top:110rem;
    }
    
}

button a{
    color:white !important;
}

.pdf{
    display:flex;
    align-items:flex-end;
}
    
</style>
<div class="container"> 





<div id="popupContainer" class="form-popup-back">
    <div class="form-Contain">
        <div class="POP">
            <div class="cards">
              <div class="popup-header">
                <span id="closePopupBtn" class="close-button">Close</span>
                <h1>Add OPD Record</h1>
              </div>
                <form class="form_popup" method="post" action="{% url 'opd' %}">
                    {% csrf_token %}
                     <!-- Basic Information -->
    <select required id="patient" name="patient">
        <label for="patient">Patient</label>
        {% for patient in patient %}
            <option value="{{ patient.id }}">{{ patient.name }}</option>
        {% endfor %}
</select>

<div class="form-group">
    <label for="height">Height:</label>
    <input type="text" class="form-control" name="height" required>
</div>

<div class="form-group">
    <label for="weight">Weight:</label>
    <input type="text" class="form-control" name="weight" required>
</div>

<div class="form-group">
    <label for="bp">BP:</label>
    <input type="text" class="form-control" name="bp" required>
</div>

<div class="form-group">
    <label for="pulse">Pulse:</label>
    <input type="number" class="form-control" name="pulse" required>
</div>

<div class="form-group">
    <label for="temperature">Temperature:</label>
    <input type="text" class="form-control" name="temperature" required>
</div>

<div class="form-group">
    <label for="respiration">Respiration:</label>
    <input type="number" class="form-control" name="respiration" required>
</div>

<div  required class="form-group">
    <label for="symptoms_type">Symptoms Type:</label>
    <select class="form-control" id="symptoms_type" name="symptoms_type">
        <option value="">Select Symptoms Type</option>
        {% for type in type %}
            <option>{{ type.symptoms_type }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label for="symptoms_description">Symptoms Description:</label>
    
    <select  required class="form-control" id="symptoms_title" name="symptoms_description">
        <option value="">Select Symptoms Description</option>
        {% for type in type %}
            <option>{{ type.symptoms_description }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label for="symptoms_title">Symptoms Title:</label>
    <select  required class="form-control" id="symptoms_title" name="symptoms_title">
        <option value="">Select Symptoms Title</option>
        {% for type in type %}
            <option>{{ type.symptoms_title }}</option>
        {% endfor %}
    </select>
</div>

<!-- Admission Information -->
<div class="form-group">
    <label for="admission_date">Admission Date:</label>
    <input type="datetime-local" class="form-control" name="admission_date" required>
</div>

<div class="form-group">
    <label for="is_case_casualty">Case Casualty:</label>
    <input type="checkbox" name="is_case_casualty">
</div>

<div class="form-group">
    <label for="is_old_patient">Old Patient:</label>
    <input type="checkbox" name="is_old_patient">
</div>

<div class="form-group">
    <label for="is_tpa">TPA:</label>
    <input type="checkbox" name="is_tpa">
</div>

<div class="form-group">
    <label for="credit_limit">Credit Limit (Rs.):</label>
    <input type="number" class="form-control" name="credit_limit" required>
</div>

<div class="form-group">
    <label for="reference">Reference:</label>
    <input type="text" class="form-control" name="reference" required>
</div>

<div class="form-group">
    <label for="consultant_doctor">Consultant Doctor:</label>
        <select required  id="consultant_doctor" name="consultant_doctor">
            <option value="">Select a doctor</option>
            {% for doctor in doctor %}
                <option value="{{ doctor.first_name }}">{{ doctor.first_name }}</option>
            {% endfor %}
        </select>
</div>
<div class="form-group">
    <label for="charge_category">Charge Category</label>
   <select  required id= "charge_category" name="charge_category">
    <option value="">Select A Category</option>
    {% for charge in charge %}
    <option value="{{charge.charge_category}}">{{ charge.charge_category }}</option>
    {% endfor %}
    </select>

 </div>



<div class="form-group">
    <label for="charge_name">Charge Name</label>
   <select id= "charge_name" name="charge_name">
    <option value="">Select A Charge</option>
    {% for charge in charge %}
    <option value="{{charge.charge_name}}">{{ charge.charge_name }}</option>
    {% endfor %}
    </select>

 </div>

<div class="form-group">
     
    <label for="tax_percentage">Tax (%)</label>
    <input type="number" id="tax_percentage" name="tax_percentage" />
    
</div>

<div class="form-group">
    <label for="standard_charge">Standard Charge (Rs.) *</label>
    <input type="number" id="standard_charge" name="standard_charge" required />
</div>

<div class="form-group">
    <label for="amount">Amount (Rs.) *</label>
    <input type="number" id="amount" name="amount" required />
</div>



<div class="form-group">
    <label for="paid_amount">Paid Amount(*)</label>
    <input type="number" id="paid_amount" name="paid_amount" required />
</div>

<div class="form-group">
    <label for="applied_charges">Applied Charges(*)</label>
    <input type="number" id="applied_charges" name="applied_charges" required />
</div>
                 
<div class="form-group">
    <label for="note">Note</label>
    <input type="text" id="note" name="note" required />
</div>

<div class="form-group">
    <label for="any_known">Any Known Allergies</label>
    <input type="text" id="any_known" name="any_known" required />
</div>


                   
        
                    
                    <div style="text-align: center;">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    







<div class="main-header">
<h1 class="headline">OPD</h1>
<div class="side-btns">


{% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
<form class="pdf" method="POST" action="{% url "download_opdcolumn" %}" >
    {% csrf_token %}
    <div class="form-group">
      <label for="from_date">From Date</label>
      <input type="date" id="from_date" name="from_date" required>
    </div>
    <div class="form-group">
      <label for="to_date">To Date</label>
      <input type="date" id="to_date" name="to_date" required>
    </div>
    <button class="btn btn-primary"> Download </button>
  </form>

<a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Add OPD Record</a>

<a class="btn btn-primary"  href="javascript:history.back()">Back</a>

</div>    
</div>

<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Patient Name </th>
        <th>consultant doctor</th>
        <th>Symptoms Title</th>
        <th>Systoms</th>
        <th>Charge Category</th>
        <th class="hide_download">Download</th>

       
       
      </tr>
    </thead>
    <tbody>
      
      {% for opd in opd %}
        <tr>
            <td><a href=" /opd/{{opd.id}}/#overview">{{ opd.id }}</a></td>  
          <td>{{ opd.patient }}</td>
          <td>{{ opd.consultant_doctor }}</td>

          <td>{{ opd.symptoms_title }}</td>
          <td>{{ opd.symptoms_type }}</td>  
          <td>{{ opd.charge_category }}</td>
          <td><button value="{{ipd.id}}" class="appointment-button btn hide_download download"><a href="/download_opd/{{opd.id}}"><i class="fa-solid fa-download"></i></a></button></td>

          
        
        
      {% endfor %}
      
    
    </tbody>
  </table>
</div>
</div>





<script src="{% static "/css/javscript/index.js" %}"></script>
<script>
    {% comment %} const openPopupBtn = document.getElementById("openPopupBtn");
const popupContainer = document.getElementById("popupContainer");
const closePopupBtn = document.getElementById("closePopupBtn");

function change(){
  popupContainer.style.display = "block";
}
closePopupBtn.addEventListener("click", function() {
    popupContainer.style.display = "none";
});
   {% endcomment %}
$(document).ready(function () {
    // Listen for changes in the vehicle_model select field
    $('#charge_name').change(function () {
        var selectedVehicle = $(this).val();
        // Make an AJAX request to fetch the driver name for the selected vehicle
        $.ajax({
            type: 'GET',
            url: 'get_tax',
            data: { 'test_name': selectedVehicle },
            success: function (data) {
                // Update the driver_name input field with the retrieved value
                $('#tax_percentage').val(data.tax);
                $('#standard_charge').val(data.standard_charge);
            },
            error: function () {
                // Handle errors if any
            }
        });
    });
});
   
</script>