{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discharged Patient</title>


{% load static %}
   
    
<div class="container">
    <div id="popupContainer" class="form-popup-back">
        <div class="form-Contain">
            <div class="POP">
                <div class="cards">
                  <div class="popup-header">
                    <span id="closePopupBtn" class="close-button">Close</span>
                    <h1>Add Discharged patient</h1>
                  </div>



                    <form class="form_popup"  enctype="multipart/form-data" method="post" action="{% url 'discharged_patient' %}">
                        {% csrf_token %}
                        
                        <select class="form-control" id="patient" name="patient">
                            <option value="patient">Select A patient</option>
        
                            {% for patient in patient %}
        
                                <option value="{{patient.id}}" >{{patient.name}}</option>
                            {% endfor %}
        
        
        
        
                        </select>
                    
                  
                      <div class="form-group">
                          <label for="room">Discharged</label>
                          <select id="room" name="room" required>
                              <option value="OPD">OPD</option>
                              <option value="IPD">IPD</option>
                          </select>
                      </div>

                      <div class="form-group">
                        <label for="status">Discharged Status</label>
                        <select id="status" name="status" required>
                            <option value="death">Death</option>
                            <option value="normal">Normal</option>
                            <option value="refferal">Refferal</option>
                        </select>
                    </div>
    
                       
            
                        
                        <div style="text-align: center;">
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        
    
    
    
    
    
    
    
    <div class="main-header">
    <h1 class="headline">Patient</h1>
    <div class="side-btns">
    
    
    {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
    <a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Add Patient </a>

    
    </div>    
    </div>   



    <table class="table">
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>Patient Name</th>
          <th>Systoms Type</th>
          <th>Discharged Status</th>
          <th>Discharge</th>
          
         
        </tr>
      </thead>
      <tbody>
        
      
          <tr>
            {% for opd in opd %}
            <td>{{ opd.id }}</td>

            <td>{{ opd.patient.name }}</td>
            <td>{{ opd.symptoms_type}}</td>
            <td>{{ opd.discharged_status}}</td>
            <td>{{ opd.discharged}}</td>
            
            {% endfor %}

            {% for ipd in ipd %}
            <td>{{ ipd.id }}</td>

            <td>{{ ipd.patient.name }}</td>
            <td>{{ ipd.symptoms_type}}</td>
            <td>{{ ipd.discharged_status}}</td>
            <td>{{ ipd.discharged}}</td>
            
            {% endfor %}


          </tr>
     
      </tbody>
    </table>
    

    </div>

    
<script src="{% static "/css/javscript/index.js" %}"></script>
<script>
  
       
    </script>
</body>
</html>
