
{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>



{% load static %} 
  {% comment %} <link rel="stylesheet" href="{% static 'backend/bootstrap/css/bootstrap.min.css' %}"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/style-main.css' %}">
  {% comment %} <link rel="stylesheet" href="{% static "css/jquery.mCustomScrollbar.min.css" %}"> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="{% static "css/all.css" %}"> {% endcomment %}
  {% comment %} <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
  <link rel="stylesheet" href=" {% static "css/ionicons.min.css" %}">
  <link rel="stylesheet" href=" {% static "css/custom_style.css" %}">
  <link rel="stylesheet" href=" {% static "css/all.css" %}"> 
  <link rel="stylesheet" href=" {% static "css/idcard.css" %}">
  <link rel="stylesheet" href=" {% static "css/animate.min.css" %}">
  <link rel="stylesheet" href=" {% static "css/AdminLTE.css" %}"> 
 <link rel="stylesheet" href=" {% static "css/AdminLTE.min.css" %}">
 <link rel="stylesheet" href=" {% static "css//skins/_all-skins.min.css" %}">
 <link rel="stylesheet" href=" {% static "css//skins/_all-skins.css" %}">
  <link rel="stylesheet" href=" {% static "css/bootstrap/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href=" {% static "css/bootstrap/css/bootstrap.css" %}">
  <link rel="stylesheet" href=" {% static "css/bootstrap/css/bootstrap.css.map" %}"> 
  <link rel="stylesheet" href=" {% static "css/blue/skins/skin-darkblue.css" %}"> 
  <link rel="stylesheet" href=" {% static "css/blue/skins/skin-darkblue.min.css" %}">  {% endcomment %}
  {% comment %} <link rel="stylesheet" href=" {% static "css/blue/ss-main-darkblue.css" %}">  {% endcomment %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css">
  
<style> 

  @media only screen and (max-width:768px) and (min-width:300px) {
    .form_popup{
      margin-left:5px !important;
    }
    h1{
      font-size:2rem;
    }
    form .btn{
      margin-top:3rem !important;
      margin-bottom:3rem !important;
    }
  


  }

    .checkbox-wrapper-2 .ikxBAC {
      appearance: none;
      background-color: #dfe1e4;
      border-radius: 72px;
      border-style: none;
      flex-shrink: 0;
      height: 20px;
      margin: 0;
      position: relative;
      width: 30px;
    }
  
    .checkbox-wrapper-2 .ikxBAC::before {
      bottom: -6px;
      content: "";
      left: -6px;
      position: absolute;
      right: -6px;
      top: -6px;
    }
  
    .checkbox-wrapper-2 .ikxBAC,
    .checkbox-wrapper-2 .ikxBAC::after {
      transition: all 100ms ease-out;
    }
  
    .checkbox-wrapper-2 .ikxBAC::after {
      background-color: #fff;
      border-radius: 50%;
      content: "";
      height: 14px;
      left: 3px;
      position: absolute;
      top: 3px;
      width: 14px;
    }
  
    .checkbox-wrapper-2 input[type=checkbox] {
      cursor: default;
    }
  
    .checkbox-wrapper-2 .ikxBAC:hover {
      background-color: #c9cbcd;
      transition-duration: 0s;
    }
  
    .checkbox-wrapper-2 .ikxBAC:checked {
      background-color: #5a81db;
    }
  
    .checkbox-wrapper-2 .ikxBAC:checked::after {
      background-color: #fff;
      left: 13px;
    }
  
    .checkbox-wrapper-2 :focus:not(.focus-visible) {
      outline: 0;
    }
  
    .checkbox-wrapper-2 .ikxBAC:checked:hover {
      background-color: #5a81db;
    }
    .checkbox-wrapper-2{
      margin-left:30px !important;
    }
.download{
  border-radius:8px;
}
  
</style>
</style>

  {% comment %} {% block sidebar %} {% include 'layout/sidebar.html' %} {% endblock sidebar %} {% endcomment %}



  <div class="container"> 
    <div id="popupContainer" class="form-popup-back">
        <div class="form-Contain">
            <div class="POP">
                <div class="cards">
                  <div class="popup-header">
                    <span id="closePopupBtn" class="close-button">Close</span>
                    <h1>Appointment Details</h1>
                  </div>
             
                    <form class="form_popup" method="post" action="{% url 'appointment_details_form' %}">
                        {% csrf_token %}
                        <div class='form-group checkbox-wrapper-2'>
                          <label for="new">New Patient  </label>
                          <input onClick="reload()" class="sc-gJwTLC ikxBAC" type="checkbox" id="new" name="new">
                       
                          </div>
                        <label for="patient">Patient</label>
                        {% comment %} <input type="text" id="patient_id_input" name="patient_search" placeholder="Search for a patient"> {% endcomment %}
                  
                    
                    
                        <!-- Add a dropdown to select a patient -->
                       
                        <select id=" patient" name="patient">
                            
                            {% for patient in patients %}
                                <option value="{{ patient.id }}">{{ patient.name }}</option>
                            {% endfor %}
                        </select>
                    
                       
                            <div class="patient_form">
                        <div class="form-group">
                          <label for="name">Name:</label>
                          <input type="text" id=" patient_form name" name="name" >
                      </div>
                  
                      
                      <div class="form-group">
                          <label for="phone">Phone:</label>
                          <input type="text" id="patient_form phone" name="patient_phone" >
                      </div>
                  
                      <div class="form-group">
                          <label for="gender">Gender:</label>
                          <select id="patient_form gender" name="patient_gender" >
                              <option value="M">Male</option>
                              <option value="F">Female</option>
                          </select>
                      </div>
                  
                      <div class="form-group">
                          <label for="address">Address:</label>
                          <input type="text" id=" patient_form address" name="patient_address" >
                      </div>
                      <div class="form-group">
                        <label for="date_of_birth">Date of Birth:</label>
                        <input type="date" id="patient_form date_of_birth" name="date_of_birth" >
                    </div>
                    </div>
                     

                    
                    <div class="form-group">
                        <label for="appointment_no">Appointment Number:</label>
                        <input type="text" id="appointment_no" name="appointment_no" required>
                    </div>


                    
                    <div class="form-group">
                        <label for="appointment_date">Appointment Date:</label>
                        <input type="datetime-local" id="appointment_date" name="appointment_date" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="text" id="phone" name="phone" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <input type="text" id="gender" name="gender" required>
                    </div>
                    
                    <div class="form-group">
                      <label for="appointment_date">Doctor</label>
                        <select id="doctor" name="doctor">
                            <option value="">Select a doctor</option>
                            {% for doctor in doctor %}
                                <option value="{{ doctor.staff_id }}">{{ doctor.first_name }}</option>
                            {% endfor %}
                        </select>
                      </div>  
            
                    <div class="form-group">
                        <label for="source">Source:</label>
                        <input type="text" id="source" name="source" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="priority">Priority:</label>
                        <input type="text" id="priority" name="priority" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="fees">Fees:</label>
                        <input type="text" id="fees" name="fees" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="status">Status:</label>
                        <input type="text" id="status" name="status" required>
                    </div>
                    

                        <!-- Your form fields go here -->
                        
                        <div style="text-align: center;">
                            <button class="btn" type="submit" value="Submit">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<div class="main-header">
  <h1 class="headline">Appointment Details</h1>
  <div class="side-btns">

 
  {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
  <a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Appointment Form</a>
  <a  class="btn-primary btn" href="/patient/list/">Add Patient</a>

</div>

    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="hide_download">Appointment No</th>
          <th>Patient Name</th>

          <th>Appointment Date</th>
          <th>Phone</th>
          <th>Gender</th>
          <th>Doctor</th>
          <th class="hide_download">Source</th>
          <th class="hide_download">Priority</th>
          <th class="hide_download">Fees</th>
          <th class="hide_download">Status</th>
          <th class="hide_download">Download</th>
    
        </tr>
      </thead>
      <tbody>
        
        {% for appointments in appointments %}
          <tr>
            <td class="hide_download">{{ appointments.appointment_no }}</td>
            <td>{{ appointments.patient_name }}</td>
            <td>{{ appointments.appointment_date }}</td>
            <td>{{ appointments.phone }}</td>
            <td>{{ appointments.gender }}</td>
            <td>{{ appointments.doctor }}</td>
            <td class="hide_download">{{ appointments.source }}</td>
            <td class="hide_download">{{ appointments.priority }}</td>
            <td class="hide_download">{{ appointments.fees }}</td>
            <td class="hide_download">{{ appointments.status }}</td>
            <td><button value="{{appointments.id}}" class="appointment-button btn hide_download download"><i class="fa-solid fa-download"></i></button></td>

          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js" integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static "/css/javscript/index.js" %}"></script>
<script defer src="{% static "/css/javscript/app.js" %}"></script>
<script>

  
  patientSearchInput.addEventListener('input', () => {
      const enteredText = patientSearchInput.value.toLowerCase();
      
      // Clear the current dropdown options
      patientDropdown.innerHTML = '<option value="">Select a patient</option>';
      
      // Filter and add matching patients to the dropdown
      {% for patient in patients %}
          const patientId = '{{ patient.id }}';
          const patientName = '{{ patient.name }}';
          
          if (patientId.startsWith(enteredText) || patientName.toLowerCase().includes(enteredText)) {
              const option = document.createElement('option');
              option.value = patientId;
              option.textContent = `${patientName} (ID: ${patientId})`;
              patientDropdown.appendChild(option);
          }
      {% endfor %}

      {% for doctor in doctor %}
      const patientId = '{{ doctor.staff_id }}';
      const patientName = '{{ doctor.first_name }}';
      
      if (patientId.startsWith(enteredText) || patientName.toLowerCase().includes(enteredText)) {
          const option = document.createElement('option');
          option.value = patientId;
          option.textContent = `${patientName} (ID: ${patientId})`;
          patientDropdown.appendChild(option);
      }
  {% endfor %}
  });




document.addEventListener("DOMContentLoaded", function () {
  const table = document.getElementById("data-table");
  const downloadButtons = document.getElementById("download-buttons");

  // Function to generate a PDF for a specific column
function generatePDF(columnIndex) {
      const pdfOptions = {
          margin: 10,
          filename: `column_${columnIndex}.pdf`,
          image: { type: 'jpeg', quality: 0.98 },
          html2canvas: { scale: 2 },
          jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
      };

      html2pdf()
          .from(table)
          .set(pdfOptions)
          .outputPdf(pdf => {
              const blob = new Blob([pdf], { type: 'application/pdf' });
              const url = URL.createObjectURL(blob);

              const downloadLink = document.createElement('a');
              downloadLink.href = url;
              downloadLink.download = `column_${columnIndex}.pdf`;
              downloadLink.click();

              URL.revokeObjectURL(url);
          });
  }

  // Create download buttons for each column
  for (let i = 0; i < table.rows[0].cells.length; i++) {
      const button = document.createElement('button');
      button.textContent = `Download Column ${i + 1}`;
      button.addEventListener('click', () => generatePDF(i));
      downloadButtons.appendChild(button);
  }
});



</script>
  </div>



