{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>

{% load static %}
    
<div class="container">
    <div id="popupContainer" class="form-popup-back">
        <div class="form-Contain">
            <div class="POP">
                <div class="cards">
                  <div class="popup-header">
                    <span id="closePopupBtn" class="close-button">Close</span>
                    <h1>Add Pathalogy Record</h1>
                  </div>



                    <form class="form_popup"  enctype="multipart/form-data" method="post" action="{% url 'path' %}">
                        {% csrf_token %}
                        
                        <div class="form-group">
                            <label for="patient"> Patient</label>
                            <select id="patient" name="patient">
                                <option value="">Select a Patient</option>
                                {% for patient in patient %}
                                    <option value="{{patient.id}}">{{ patient.name }}{{patient.id}}</option>
                                {% endfor %}
                            </select>
                            
                            
                        </div>
                        <div class="form-group">
                            <label for="test_name"> Test Name*</label>
                            <select id="test_name" name="test_name">
                                <option value="">Select a Test Name</option>
                                {% for test in test %}
                                    <option value="{{test.id}}">{{ test.test_name}}</option>
                                {% endfor %}
                            </select>
                            
                            
                        </div>
                       
                
                        <div class="form-group">
                            <label for="report_days">Report Days *</label>
                            <input type="number" name="report_days" required>
                        </div>
                
                        <div class="form-group">
                            <label for="report_date">Report Date *</label>
                            <input type="date" name="report_date" required>
                        </div>
                
                        <div class="form-group">
                            <label for="tax_percentage">Tax *</label>
                            <input id="tax_percentage"type="text" name="tax_percentage" required>
                        </div>
                
                        <div class="form-group">
                            <label for="amount">Amount (Rs.) *</label>
                            <input type="text" name="amount" required>
                        </div>
                
                        <div class="form-group">
                            <label for="referral_doctor">Referral Doctor *</label>
                            <select id="patient" name="referral_doctor">
                                <option value="">Select Doctor</option>
                                {% for doc in doc %}
                                    <option value="{{doc.first_name}}">{{ doc.first_name }}</option>
                                {% endfor %}
                            </select>
                            
                            
                        </div>
                
                        <h2>Financial Information</h2>
                        <div class="form-group">
                            <label for="total">Total (Rs.)</label>
                            <input type="number" name="total">
                        </div>
                
                        <div class="form-group">
                            <label for="discount_percentage">Discount (%)</label>
                            <input type="number" name="discount_percentage">
                        </div>
                
                        <div class="form-group">
                            <label for="discount">Discount (Rs.)</label>
                            <input type="number" name="discount">
                        </div>
                
                        <div class="form-group">
                            <label for="tax">Tax (Rs.)</label>
                            <input type="number" name="tax">
                        </div>
                
                        <div class="form-group">
                            <label for="net_amount">Net Amount (Rs.)</label>
                            <input type="number" name="net_amount">
                        </div>
                
                        <div class="form-group">
                            <label for="payment_mode">Payment Mode *</label>
                            <select name="payment_mode" required>
                                <option value="Cash">Cash</option>
                                <option  value="card">Debit/Credit Card</option>
                                <option  value="cheque">cheque</option>
                                <option  value="online">Online/Net Banking</option>
                                <option  value="other">other</option>
                                <!-- Add more payment modes as needed -->
                            </select>
                        </div>
                
                        <div class="form-group">
                            <label for="payment_amount">Payment Amount (Rs.)</label>
                            <input type="number" name="payment_amount">
                        </div>
    
                       
            
                        
                        <div style="text-align: center;">
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        
    
    
    
    
    
    
    
    <div class="main-header">
    <h1 class="headline">POS Record</h1>
    <div class="side-btns">
    
    
    {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}

    <a class="btn btn-primary"  href="javascript:history.back()">Back</a>
    
    </div>    
    </div>   





    <table class="table">
        <thead>
          <tr>
            
            <th>Doctor</th>
           
            <th>Composition</th>
            <th>Date</th>
            <th>Small Note</th>
            <th>Payment Mode</th>
           
              
           
          </tr>
        </thead>
        <tbody>
          
          {% for pos in pos %}
            <tr>
                <td>{{ pos.doctor }}</td>
               
               <td>{{ pos.composition }}</td>
             
               <td>{{ pos.date }}</td>
               <td>{{ pos.small_note }}</td>
               <td>{{ pos.payment_mode }}</td>
             
              
          
            
            </tr>
          {% endfor %}
        </tbody>
      </table>
    

    </div>

    
<script src="{% static "/css/javscript/index.js" %}"></script>
<script>
        {% comment %} const openPopupBtn = document.getElementById("openPopupBtn");
        const popupContainer = document.getElementById("popupContainer");
    const closePopupBtn = document.getElementById("closePopupBtn");
    
    function change(){
      popupContainer.style.display = "block";
    }
    closePopupBtn.addEventListener("click", function() {
        popupContainer.style.display = "none";
    }); {% endcomment %}

    {% comment %} document.getElementById('test_name').addEventListener('change', function () {
        var selectedTestName = this.value;
        if (selectedTestName) {
            // Send an AJAX request to retrieve tax information for the selected test name
            fetch('/get_tax_info/', {
                method: 'POST',
                data:selectedTestName,
                body: JSON.stringify({'test_name': selectedTestName}),
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                // Fill the tax input field with the retrieved tax information
                document.getElementById('tax_percentage').value = data.tax_percentage;
            });
        } else {
            // Clear the tax input field if no test name is selected
            document.getElementById('tax_percentage').value = '';
        }
    }); {% endcomment %}


       
    </script>
</body>
</html>
