<!-- charge_type_form.html -->





{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}
<div class="container">
    
    
    
  
  <div id="popupContainer" class="form-popup-back">
        <div class="form-Contain">
            <div class="POP">
                <div class="cards">
                  <div class="popup-header">
                    <span id="closePopupBtn" class="close-button">Close</span>
                    <h1>Add Unit</h1>
                  </div>
                    <form class="form_popup" method="post" action="{% url 'unit' %}">
                        {% csrf_token %}
                        
                        
                        <div class="form-group">
                            <label for="unit_name">Unit Name:</label>
                            <input type="text" class="form-control" id="unit_name" name="unit_name" required>
                        </div>
                        <!-- Your form fields go here -->
                        
                        <div style="text-align: center;">
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<div class="main-header">
  <h1 class="headline">Unit</h1>
  <div class="side-btns">

 
  {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
  <a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Unit</a>

</div>

    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Unit</th>
   
  
        </tr>
      </thead>
      <tbody>
        
        {% for unit in unit %}
          <tr>
            <td>{{ unit.unit_name }}</td>

            
          </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>



    <script>
      {% comment %} $(document).ready(function() {
        $(".open-popup").click(function() {
          $(".popup").fadeIn();
        });
      
        $(".popup").click(function(event) {
          if (event.target === this) {
            $(this).fadeOut();
          }
        });
      }); {% endcomment %}

      

      const openPopupBtn = document.getElementById("openPopupBtn");
      const popupContainer = document.getElementById("popupContainer");
      const closePopupBtn = document.getElementById("closePopupBtn");
    {% comment %} console.log(openPopupBtn)
    console.log(popupContainer)
      openPopupBtn.addEventListener("click", function() {
          popupContainer.style.display = "block";
          console.log('hello')
      }); {% endcomment %}
      function change(){
        popupContainer.style.display = "block";
      }
      closePopupBtn.addEventListener("click", function() {
          popupContainer.style.display = "none";
      });
    </script>
  </div>



