
{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Staff</title>
<style>
    .password{
        display:flex !important;
        position:relative;
        align-items: center;

        ;
    }
    .password .input-group-text{
        margin:5px;
    }
    
</style>

    <div class="container">
            
        <div class="main-header"> 
            <h1 class="headline">Add Staff Details</h1>
            <div class="side-btns">
          
           
            {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
            <a  class="btn-primary btn"href="{% url "add_staff" %}">Add Staff </a>
          
          </div>
          </div>

          <div class="ale alert-main">
            Staff email is their login username, password is generated automatically and send to staff email. Superadmin can change staff password on their staff profile page.   
                                 </div>
<form class="hr_add " enctype="multipart/form-data" method="post">
    {% csrf_token %}
    
    <!-- Personal Information -->
    <div class="basic">
        <legend>Basic Information</legend>
        </div>
    <div class="hr_from">
    <fieldset>
        
        
        <div class="form-group">
            <label for="staff_id">Staff ID *</label>
            <input type="text" id="staff_id" name="staff_id" required>
        </div>

        <div class="form-group">
            <label for="role">Role *</label>
            <select id="role" name="role">
                <option value="">Select A Role</option>
                {% for role in role %}
                    <option value="{{ role.role }}">{{ role.role }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="designation">Designation *</label>
            <select id="designation" name="designation">
                <option value="">Select A Designation</option>
                {% for role in role %}
                    <option value="{{ role.designation }}">{{ role.designation }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="department">Department</label>
            <select id="department" name="department">
                <option value="">Select A Department</option>
                {% for role in role %}
                    <option value="{{ role.department }}">{{ role.department }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="specialist">Specialist *</label>
            <select id="specialist" name="specialist">
                <option value="">Select A Specialist</option>
                {% for role in role %}
                    <option value="{{ role.specialist }}">{{ role.specialist }}</option>
                {% endfor %}
            </select>
        </div>
    </fieldset>

    <fieldset>
        <legend>Contact Information</legend>
        <div class="form-group">
            <label for="first_name">First Name *</label>
            <input type="text" id="first_name" name="first_name" required>
        </div>

        <div class="form-group">
            <label for="last_name">Last Name *</label>
            <input type="text" id="last_name" name="last_name" required>
        </div>

        <div class="form-group">
            <label for="father_name">Father Name</label>
            <input type="text" id="father_name" name="father_name">
        </div>

        <div class="form-group">
            <label for="mother_name">Mother Name</label>
            <input type="text" id="mother_name" name="mother_name">
        </div>

        <div class="form-group">
            <label for="gender">Gender *</label>
            <select id="gender" name="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="marital_status">Marital Status *</label>
            <select id="marital_status" name="marital_status" required>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Divorced">Divorced</option>
                <option value="Widowed">Widowed</option>
            </select>
        </div>

        <div class="form-group">
            <label for="blood_group">Blood Group *</label>
            <input type="text" id="blood_group" name="blood_group" required>
        </div>

        <div class="form-group">
            <label for="date_of_birth">Date Of Birth *</label>
            <input type="date" id="date_of_birth" name="date_of_birth" required>
        </div>

        <div class="form-group">
            <label for="date_of_joining">Date Of Joining *</label>
            <input type="date" id="date_of_joining" name="date_of_joining" required>
        </div>
        
        <div class="form-group">
            <label for="">Photo</label>
            <label class="file_type"for="photo"><p>Drop A File </p></label>
            <input type="file" class="form-control-file" id="photo" name="photo">
        </div>
    </fieldset>

    <fieldset>
        <legend>Contact Details</legend>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="tel" id="phone" name="phone">
        </div>

        <div class="form-group">
            <label for="emergency_contact">Emergency Contact</label>
            <input type="tel" id="emergency_contact" name="emergency_contact">
        </div>

        <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <div class="password">
           
            <input class="form-control" id="password" name="password" placeholder="Password" value="" required>
            <span class="input-group-text ">
              <i class="fa fa-eye" id="togglePassword" style="cursor: pointer"></i>
             </span>
          </div>
          </div>

        <div class="form-group">
            <label for="current_address">Current Address</label>
            <textarea id="current_address" name="current_address"></textarea>
        </div>

        <div class="form-group">
            <label for="checkbox">Same as Current Address</label>
            <input type="checkbox" id="checkbox" name="checkbox" >
        </div>

        <div class="form-group">
            <label for="permanent_address">Permanent Address</label>
            <textarea id="permanent_address" name="permanent_address"></textarea>
        </div>
    </fieldset>

    <fieldset>
        <legend>Educational </legend>
        <div class="form-group">
            <label for="qualification">Qualification:</label>
            <textarea class="form-control" name="qualification" id="qualification" rows="4" cols="50"></textarea>
        </div>
    
        <div class="form-group">
            <label for="work_experience">Work Experience:</label>
            <textarea class="form-control" name="work_experience" id="work_experience" rows="4" cols="50"></textarea>
        </div>
    
        <div class="form-group">
            <label for="specialization">Specialization:</label>
            <input type="text" class="form-control" name="specialization" id="specialization">
        </div>
    
        <div class="form-group">
            <label for="note">Note:</label>
            <textarea class="form-control" name="note" id="note" rows="4" cols="50"></textarea>
        </div>
    </fieldset>
    <fieldset>
        <legend>Bank Deatils</legend>
        <!-- Identification Numbers -->
        <div class="form-group">
            <label for="pan_number">PAN Number:</label>
            <input type="text" class="form-control" name="pan_number" id="pan_number">
        </div>
    
        <div class="form-group">
            <label for="national_id_number">National ID Number:</label>
            <input type="text" class="form-control" name="national_id_number" id="national_id_number">
        </div>
    
        <div class="form-group">
            <label for="local_id_number">Local ID Number:</label>
            <input type="text" class="form-control" name="local_id_number" id="local_id_number">
        </div>
    </fieldset>
    <fieldset>
        <legend>Payroll And Summmary</legend>
        <!-- Payroll and Salary -->
        <div class="form-group">
            <label for="payroll">Payroll:</label>
            <input type="text" class="form-control" name="payroll" id="payroll">
        </div>
    
        <div class="form-group">
            <label for="epf_no">EPF Number:</label>
            <input type="text" class="form-control" name="epf_no" id="epf_no">
        </div>
    
        <div class="form-group">
            <label for="basic_salary">Basic Salary:</label>
            <input type="text" class="form-control" name="basic_salary" id="basic_salary">
        </div>
    
        <div class="form-group">
            <label for="contract_type">Contract Type:</label>
            <input type="text" class="form-control" name="contract_type" id="contract_type">
        </div>
    
        <!-- Work Details -->
        <div class="form-group">
            <label for="work_shift">Work Shift:</label>
            <input type="text" class="form-control" name="work_shift" id="work_shift">
        </div>
    
        <div class="form-group">
            <label for="work_location">Work Location:</label>
            <input type="text" class="form-control" name="work_location" id="work_location">
        </div>
    
        <!-- Leave Information -->
        
        <div class="form-group">
            <label for="number_of_leaves">Number of Leaves:</label>
            <input type="number" value=0 class="form-control" name="number_of_leaves" id="number_of_leaves">
        </div>
    </fieldset>
    <fieldset>
        <legend>Bank Detials</legend>
        <!-- Bank Account Details -->
        <div class="form-group">
            <label for="account_title">Account Title:</label>
            <input type="text" class="form-control" name="account_title" id="account_title">
        </div>
    
        <div class="form-group">
            <label for="bank_account_no">Bank Account Number:</label>
            <input type="text" class="form-control" name="bank_account_no" id="bank_account_no">
        </div>
    
        <div class="form-group">
            <label for="bank_name">Bank Name:</label>
            <input type="text" class="form-control" name="bank_name" id="bank_name">
        </div>
    
        <div class="form-group">
            <label for="ifsc_code">IFSC Code:</label>
            <input type="text" class="form-control" name="ifsc_code" id="ifsc_code">
        </div>
    
        <div class="form-group">
            <label for="bank_branch_name">Bank Branch Name:</label>
            <input type="text" class="form-control" name="bank_branch_name" id="bank_branch_name">
        </div>
    </fieldset>

    <fieldset>
        <legend>Social Media </legend>
        <!-- Social Media Links -->
        <div class="form-group">
            <label for="facebook_url">Facebook URL:</label>
            <input type="text" class="form-control" name="facebook_url" id="facebook_url">
        </div>
    
        <div class="form-group">
            <label for="twitter_url">Twitter URL:</label>
            <input type="text" class="form-control" name="twitter_url" id="twitter_url">
        </div>
    
        <div class="form-group">
            <label for="linkedin_url">LinkedIn URL:</label>
            <input type="text" class="form-control" name="linkedin_url" id="linkedin_url">
        </div>
    
        <div class="form-group">
            <label for="instagram_url">Instagram URL:</label>
            <input type="text" class="form-control" name="instagram_url" id="instagram_url">
        </div>
    </fieldset> 
    <fieldset>
        <legend>Documents </legend>
            <!-- Documents -->
            <div class="form-group">
        <label for="paid_leave">Paid Leave:</label>
        <input type="checkbox" class="" name="paid_leave" id="paid_leave">
    </div>

        <div class="form-group">
            <label for="">Resume:</label>
            <label class="file_type"for="resume"><p>Drop A File </p></label>
            <input type="file" class="form-control-file" name="resume" id="resume">
        </div>
    
        <div class="form-group">
            <label for="">Joining Letter:</label>
            <label class="file_type"for="joining_letter"><p>Drop A File </p></label>
            <input type="file" class="form-control-file" name="joining_letter" id="joining_letter">
        </div>
    
        <div class="form-group">
            <label for="">Other Documents:</label>
            <label class="file_type"for="other_documents"><p>Drop A File </p></label>
            <input type="file" class="form-control-file" name="other_documents" id="other_documents">
        </div>

    </fieldset>


    <!-- Add more fieldsets for Qualification, Experience, Identification Numbers, etc. -->

    <!-- Submit Button -->
    <div class="form-group">
        <input type="submit" value="Submit">
    </div>
</div>
</form>
<script>
    // Get references to the elements
    var currentAddress = document.getElementById('current_address');
    var permanentAddress = document.getElementById('permanent_address');
    var checkbox = document.getElementById('checkbox');

    // Add an event listener to the checkbox
    checkbox.addEventListener('change', function () {
        // If the checkbox is checked, copy the current address to permanent address
        if (checkbox.checked) {
            permanentAddress.value = currentAddress.value;
        } else {
            // If unchecked, clear the permanent address
            permanentAddress.value = '';
        }
    });

    const togglePassword = document.querySelector("#togglePassword");
const password = document.querySelector("#password");

togglePassword.addEventListener("click", function () {
   
  // toggle the type attribute
  const type = password.getAttribute("type") === "password" ? "text" : "password";
  password.setAttribute("type", type);
  // toggle the eye icon
  this.classList.toggle('fa-eye');
  this.classList.toggle('fa-eye-slash');
});
</script>


</div>
</body>
</html>
