{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>



<style>
  .main-header{
    border:none;
    margin-top: 1px !important;
  }
  .container{
    margin-top:10rem !important;
  }
  body , .container{
    background-color: #f6f4fb !important;
  }
  .main-content {
    padding: 3rem;
    margin: 2rem;
    border-radius:20px;
    border:1px solid #dfdfdf;
    background-color:white;
}

</style>

<div class="container">
  
  <div class="main-content">
    
    <div class="main-header"> 
      <h1 class="headline">Staff Details</h1>
      <div class="side-btns">
    
     
      {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
      <a  class="btn-primary btn"href="{% url "add_staff" %}">Add Staff </a>
    
    </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Staff ID </th>
          <th>Staff Name</th>
          <th>Role</th>
          <th>Phone No</th>
          <th>Gender</th>
        
          <th>Edit</th>
          <th>Delete</th>
         
        </tr>
      </thead>
      <tbody>
        
        {% for staff in staff %}
          <tr>
            
            <td>{{ staff.id }}</td>
            <td>{{ staff.first_name }}</td>
            <td>{{ staff.role }}</td>
            <td>{{ staff.phone }}</td>
            <td>{{ staff.gender }}</td>
            
            <td><a href="/edit_staff/{{ staff.id }}">Edit</a></td>
            <td><a class="btn" href="/delete_staff/{{ staff.staff_id }}">Delete</a></td>
          
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  function printDiv() {
    var table = document.querySelector('.table');
            var newWindow = window.open('', '', 'width=600,height=600');
            newWindow.document.open();
            newWindow.document.write('<html><head><title>Print Table</title></head><body>');
            newWindow.document.write('<table>' + table.innerHTML + '</table>');
            newWindow.document.write('</body></html>');
            newWindow.document.close();

            newWindow.onload = function() {
                newWindow.print();
                
            };
  }
</script>