{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll</title>

    <style>
.search_payroll{
    margin-top:5rem;
}
    </style>

<div class="container">
<form class="search_payroll" method="GET" action="{% url 'search-staff' %}">
    <select id="role" name="q">
        <option value="">Select A Role</option>
        {% for role in role %}
            <option value="{{ role.role }}">{{ role.role }}</option>
        {% endfor %}
    </select>
<br>
    <button class="btn" type="submit">Search</button>
</form>
</div>