{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payroll</title>


<div class="container">
<form method="GET" action="{% url 'search-staff' %}">
    <select id="role" name="q">
        <option value="">Select A Role</option>
        {% for role in role %}
            <option value="{{ role.role }}">{{ role.role }}</option>
        {% endfor %}
    </select>
    
    <button type="submit">Search</button>
</form>
<style>
.container form{
    display:flex; 
    margin-top:2rem;    
    
}



</style>

<title>Search Results</title>
</head>
<body>
    
    <h2>Search Results</h2>

    <!-- Display search form -->
   
    <!-- Display search results -->
 
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="role">Role *</label>
            <select id="role" name="role">
                <option value="">Select A Role</option>
                {% for role in role %}
                    <option value="{{ role.role }}">{{ role.role }}</option>
                {% endfor %}
            </select>
        </div>
        <!-- Other form fields and submit button -->
    </form>
    
    <div id="selected-role-data"></div>
    
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    {% comment %} $(document).ready(function () {
        $('#role').change(function () {
            var selectedRole = $(this).val();
            if (selectedRole !== "") {
                $.ajax({
                    type: 'POST',
                    url: 'admin/admin/get_selected_role_data/',  // Replace with your Django view URL
                    data: {
                        'role': selectedRole,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: function (data) {
                        // Update the #selected-role-data div with the received JSON data
                        console.log(data)
                        $('#selected-role-data').html(data);
                    },
                    error: function () {
                        alert('An error occurred while fetching data.');
                    }
                });
            } else {
                $('#selected-role-data').empty();
            }
        });
    }); {% endcomment %}
</script>