{% include "layout/sidebar.html" %}
<div class="container">
    <h1>Add Role </h1>
    
    
        
        <form method="post" action="{% url "role_form" %}">
            {% csrf_token %}
            <!-- Personal Information -->
            <h3>Human Resource</h3>

    
           
            
            <label for="role">Role *</label>
        <input type="text" id="role" name="role" required><br>

        <label for="designation">Designation *</label>
        <input type="text" id="designation" name="designation" required><br>

        <label for="department">Department *</label>
        <input type="text" id="department" name="department" required><br>

        <label for="specialist">Specialist *</label>
        <input type="text" id="specialist" name="specialist" required><br>

        <input type="submit" value="Submit">
        </form>
      </tbody>
    </table>
  </div>