





    <!-- create_child.html -->
    {% include "layout/sidebar.html" %}
    {% include "layout/header.html" %}
    <div class="container">
    

    
    
    
    
    
    
    
    <div class="main-header">
    <h1 class="headline">Payment In</h1>
    <div class="side-btns">
    
    
    {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
    <a  class="btn-primary btn" href="/payment_in" >Payment In</a>
    
    </div>    
    </div>    
    
    
    
    
    <table class="table">
        <thead>
          <tr>
            <th> Date</th>
            <th> Invoice</th>

            <th> Party Name</th>
            <th>Type</th>
            <th>Received</th>
            
           
            
            
           
              
           
          </tr>
        </thead>
        <tbody>
          
          {% for payment in payment %}
            <tr>
                <td>{{ payment.date }}</td>
                <td>{{ payment.receipt_no }}</td>
                <td>{{ payment.name }}</td>

                <td>{{ payment.payment_type }}</td>
                
                
                <td>{{ payment.received }}</td>
                
             
              
          
            
            </tr>
          {% endfor %}
        </tbody>
      </table>
    
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    
    <script>
        const openPopupBtn = document.getElementById("openPopupBtn");
    const popupContainer = document.getElementById("popupContainer");
    const closePopupBtn = document.getElementById("closePopupBtn");
    
    function change(){
      popupContainer.style.display = "block";
    }
    closePopupBtn.addEventListener("click", function() {
        popupContainer.style.display = "none";
    });

    $(document).ready(function () {
        // Listen for changes in the vehicle_model select field
        $('#vehicle_model').change(function () {
            var selectedVehicle = $(this).val();
            // Make an AJAX request to fetch the driver name for the selected vehicle
            $.ajax({
                type: 'GET',
                url: '/get_driver_name', // Replace with your actual URL
                data: { 'vehicle_model': selectedVehicle },
                success: function (data) {
                    // Update the driver_name input field with the retrieved value
                    $('#driver_name').val(data.driver_name);
                },
                error: function () {
                    // Handle errors if any
                }
            });
        });
    });
       </script> 
       
