{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPD</title>



{% load static %}

<style>
    select {
        display: block;
    }
button a{
    color:white !important;
}

.side-btns{
    display:flex;
    margin-top:0px;
}
.side-btns a{
    margin:3rem 1rem 1rem 1rem;
}  
@media only screen and (max-width:768px) and (min-width:300px) {
    .form-group{
        margin:0px !important;
    }
    .POP{
        width:100% !important;
        margin-top:50rem;
    }
}
.pdf{
    display:flex;
    align-items:flex-end;
}
    
</style>
<div class="container"> 





<div id="popupContainer" class="form-popup-back">
    <div class="form-Contain">
        <div class="POP">
            <div class="cards">
              <div class="popup-header">
                <span id="closePopupBtn" class="close-button">Close</span>
                <h1>Add IPD Record</h1>
              </div>
                <form class="form_popup" method="post" action="{% url 'ipd_patient' %}">
                    {% csrf_token %}
                     <!-- Basic Information -->
    <select required id="patient" name="patient">
                
        {% for patient in patient %}
            <option value="{{ patient.id }}">{{ patient.name }}</option>
        {% endfor %}
</select>

<div class="form-group">
    <label for="height">Height:</label>
    <input type="text" class="form-control" name="height" required>
</div>

<div class="form-group">
    <label for="weight">Weight:</label>
    <input type="text" class="form-control" name="weight" required>
</div>

<div class="form-group">
    <label for="bp">BP:</label>
    <input type="text" class="form-control" name="bp" required>
</div>

<div class="form-group">
    <label for="pulse">Pulse:</label>
    <input type="number" class="form-control" name="pulse" required>
</div>

<div class="form-group">
    <label for="temperature">Temperature:</label>
    <input type="text" class="form-control" name="temperature" required>
</div>

<div class="form-group">
    <label for="respiration">Respiration:</label>
    <input type="number" class="form-control" name="respiration" required>
</div>

<div class="form-group">
    <label for="symptoms_type">Symptoms Type:</label>
    <select class="form-control" id="symptoms_type" name="symptoms_type">
        <option value="">Select Symptoms Type</option>
        {% for type in type %}
            <option>{{ type.symptoms_type }}</option>
        {% endfor %}
    </select>
</div>

<div class="form-group">
    <label for="symptoms_description">Symptoms Description:</label>
    <input type="text" class="form-control" name="symptoms_description" required>
</div>

<div class="form-group">
    <label for="symptoms_title">Symptoms Title:</label>
    <select  required class="form-control" id="symptoms_title" name="symptoms_title">
        <option value="">Select Symptoms Title</option>
        {% for type in type %}
            <option>{{ type.symptoms_title }}</option>
        {% endfor %}
    </select>
</div>

<!-- Admission Information -->
<div class="form-group">
    <label for="admission_date">Admission Date:</label>
    <input type="datetime-local" class="form-control" name="admission_date" required>
</div>

<div class="form-group">
    <label for="is_case_casualty">Case Casualty:</label>
    <input type="checkbox" name="is_case_casualty">
</div>

<div class="form-group">
    <label for="is_old_patient">Old Patient:</label>
    <input type="checkbox" name="is_old_patient">
</div>

<div class="form-group">
    <label for="is_tpa">TPA:</label>
    <input type="checkbox" name="is_tpa">
</div>

<div class="form-group">
    <label for="credit_limit">Credit Limit (Rs.):</label>
    <input type="number" class="form-control" name="credit_limit" required>
</div>

<div class="form-group">
    <label for="reference">Reference:</label>
    <input type="text" class="form-control" name="reference" required>
</div>

<div class="form-group">
    <label for="consultant_doctor">Consultant Doctor:</label>
        <select required id="consultant_doctor" name="consultant_doctor">
            <option value="">Select a doctor</option>
            {% for doctor in doctor %}
                <option value="{{ doctor.staff_id }}">{{ doctor.first_name }}</option>
            {% endfor %}
        </select>
</div>

<div class="form-group">
    
    
    <label for="bed_grp">Bed Group:</label>
        <select required id="bed_group" name="bed_group">
            <option value="">Select a Bed</option>
            {% for bed in bedtype %}
                <option value="{{ bed.name }}">{{ bed.name }}</option>
            {% endfor %}
        </select>

</div>

<div class="form-group">
    <label for="bed_number">Bed Number:</label>
    <select required id="bed_number" name="bed_number">
        <option value="">Select a Bed Number</option>
        {% for bed in bed %}
            <option value="{{ bed.name }}">{{ bed.name }}</option>
        {% endfor %}
    </select>
</div>
 
                   
        
                    
                    <div style="text-align: center;">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    







<div class="main-header">
<h1 class="headline">IPD </h1>
<div class="side-btns">


{% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
<form class="pdf" method="POST" action="{% url "download_ipdcolumn" %}" >
    <div class="form-group">
      <label for="from_date">From Date</label>
      <input type="date" id="from_date" name="from_date" required>
    </div>
    <div class="form-group">
      <label for="to_date">To Date</label>
      <input type="date" id="to_date" name="to_date" required>
    </div>
    <button class="btn btn-primary"> Download </button>
  </form>
<a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Add IPD Record</a>
<a  class="btn-primary btn" href="/download_ipdcolumn">Download</a>
<a class="btn btn-primary"  href="javascript:history.back()">Back</a>

</div>    
</div>

<table class="table">
    <thead>
      <tr>
        
        <th>ID </th>
        <th>Patient Name </th>
        <th>consultant doctor</th>
        <th>Bed Group</th>
        <th>Systoms</th>
        <th>Bed Number</th>
        <th class="hide_download">Download</th>
       
       
      </tr>
    </thead>
    <tbody>
      
      {% for ipd in ipd %}
        <tr>
            <td>{{ ipd.id }}</td>
          <td><a href=" /ipd/{{ipd.patient.id}}/#overview">{{ ipd.patient }}</a></td>  
       
          
          <td>{{ ipd.consultant_doctor }}</td>
          

          <td>{{ ipd.bed_group }}</td>
          <td>{{ ipd.symptoms_type }}</td>  
          <td>{{ ipd.bed_number }}</td>  
          <td><button value="{{ipd.id}}" class="appointment-button btn hide_download download"><a href="/download_ipd/{{ipd.id}}"><i class="fa-solid fa-download"></i></a></button></td>
          
        
        
      {% endfor %}
      
    
    </tbody>
  </table>
</div>
</div>




<script src="{% static "/css/javscript/index.js" %}"></script>
{% comment %} <script>
    $(document).ready(function () {
        // Listen for changes in the vehicle_model select field
        $('.download').click(function () {
            var id = $(this).val();
            // Make an AJAX request to fetch the driver name for the selected vehicle
            $.ajax({
                type: 'GET',
                url: '/download_ipd', // Replace with your actual URL
                data: { 'id': id },
                success: function (json_response) {
                    // Update the driver_name input field with the retrieved value
                    var pdfUrl = json_response.pdf_url; 

                    // Trigger download
                    var link = document.createElement('a');
                    link.href = pdfUrl;
                    link.download = 'invoice_'{json_response.context.id}'pdf';
                    console.log(link.download)
                    link.click();
                },
                error: function () {
                    // Handle errors if any
                }
            });
        });
    });
   </script>  {% endcomment %}