
{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symptoms </title>


{% load static %}
<!DOCTYPE html>

<style>

    .popup_btns{
        display:flex;
        justify-content:center;
    }
</style>
<html>
<head>
    <title>Symptoms Name</title>
</head>
<body>
   
    
<div class="container">
    <div id="popupContainer" class="form-popup-back">
        <div class="form-Contain">
            <div class="POP">
                <div class="cards">
                  <div class="popup-header">
                    <span id="closePopupBtn" class="close-button">Close</span>
                    <h1>Symptoms Name </h1>
                  </div>
                  <form method="post" action="{% url 'submit_symptom' %}">
                    <h2> Add Symptoms</h2>
                    {% csrf_token %}
                
                    <div class="form-group">
                        <label for="symptoms_type">Symptoms Type:</label>
                        <input type="text" class="form-control" name="symptoms_type" required>
                    </div>
                
                    <div class="form-group">
                        <label for="symptoms_title">Symptoms Title:</label>
                        <input type="text" class="form-control" name="symptoms_title" required>
                    </div>
                
                    <div class="form-group">
                        <label for="symptoms_description">Symptoms Description:</label>
                        <input type="text" class="form-control" name="symptoms_description" required>
                    </div>
                
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                </div>
            </div>
        </div>
        </div>
        
    
    
    
    
    
    
    
    <div class="main-header">
    <h1 class="headline">Symptoms </h1>
    <div class="side-btns">
    
    
    {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
    <a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Add Symptoms </a>
   
    </div>    
    </div>   





    <table class="table">
        <thead>
          <tr>
            
            <th>Symptoms Type</th>
            <th>Symptoms Title</th>
            <th>Symptoms Description</th>
           
            
            
           
              
           
          </tr>
        </thead>
        <tbody>
          
          {% for symptoms in sys %}
            <tr>

                <td>{{ symptoms.symptoms_type }}</td>
                <td>{{ symptoms.symptoms_title }}</td>
                <td>{{ symptoms.symptoms_description }}</td>
     
              
          
            
            </tr>
          {% endfor %}
        </tbody>
      </table>
    

    </div>
    
<script src="{% static "/css/javscript/index.js" %}"></script>
<script>
        
    </script>
</body>
</html>
