
{% load static %}
<style>
    .privacy{
        position:absolute;
        bottom:10px;
        right:50px;
    }



</style>


<div class="privacy">
    <p>@Saiph Technologies Pvt Ltd</p>
    </div>


<script defer src="{% static "/css/javscript/index.js" %}"></script>

<script defer> 
    var openPopupBtn = document.getElementById("openPopupBtn");
     var popupContainer = document.getElementById("popupContainer");
    var closePopupBtn = document.getElementById("closePopupBtn");
    var  mainHeader = document.querySelector('.main-header');


    let zIndexState = 1;
    function change(){
      popupContainer.style.display = "block";
      if (zIndexState === 1) {
        mainHeader.style.zIndex = -1;
        zIndexState = -1;
    }
    }
    closePopupBtn.addEventListener("click", function() {
        popupContainer.style.display = "none";
        mainHeader.style.zIndex = 1;
        zIndexState = 1;
    });
  
</script> 
    
