
{% load static %}


    <div class="sidebar">
        <ul>
            {% if user.role != 'New' %}
          
            {% comment %} <li><a href="{% url 'role' %}">Role</a></li>
            <li><a href="{% url 'role_form' %}">Role Form</a></li>
            
            <li><a href="{% url 'search-staff' %}">Search Staff</a></li>
            <li><a href="{% url 'add_bed' %}">Add Bed</a></li>
            <li><a href="{% url 'add_bed_group' %}">Add Bed Group</a></li>
            <li><a href="{% url 'add_purpose' %}">Add Purpose</a></li>
            <li><a href="{% url 'add_floor' %}">Add Floor</a></li>
            <li><a href="{% url 'ipd_dash' %}">IPD Dashboard</a></li>
            
            <li><a href="{% url 'ipd_patient' %}">IPD Patient</a></li>
            <li><a href="{% url 'add_med' %}">Add Medicine</a></li>
            <li><a href="{% url 'supplier_form' %}">Supplier Form</a></li>
            
            <li><a href="{% url 'add_donor' %}">Add Donor</a></li>
            {% comment %} <li><a href="{% url 'show' %}">Show</a></li> {% endcomment %}
            {% comment %} <li><a href="{% url 'issue_blood' %}">Issue Blood</a></li>
            <li><a href="{% url 'issue_comp' %}">Issue Comp</a></li>
            <li><a href="{% url 'add_charge' %}">Add Charge</a></li>
            <li><a href="{% url 'charge_name' %}">Charge Name</a></li>
            <li><a href="{% url 'tax_cat' %}">Tax Category</a></li>
            <li><a href="{% url 'path_test' %}">Path Test</a></li>
            
            <button class="dropdown-btn">Birth & Death Record 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <a class="dropdown-a" href="{% url "add_child" %}">Birth Record</a>
              <a class="dropdown-a" href="{% url "add_death" %}">Death Record</a>
              
            </div>    
            <button class="dropdown-btn">Finance 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <a class="dropdown-a" href="{% url "add_income" %}">Income</a>
              <a class="dropdown-a" href="{% url "add_expense" %}">Expense</a>
              
            </div>     {% endcomment %}

            <li><a href="{% url 'ipd_pat' %}">IPD Dashboard </a></li>
            {% endif %}
            
           
            
              {% if user.role == 'Doctor' %}
             
              <li  class="{% if request.resolver_match.url_name == 'appointment' %}active{% endif %}" ><a href="{% url 'appointment' %}">Appointment</a></li>
             
            <li><a href="{% url 'opd' %}">Opd</a></li>
            <li><a href="{% url 'ipd_patient' %}">IPD</a></li>
            <li><a href="{% url 'path' %}">Pathology</a></li>
          
            <li><a href="{% url 'radiology' %}">Radiology</a></li>
            <li><a href="{% url 'blood_donation' %}">Blood Bank</a></li>

            <button class="dropdown-btn">Setup 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <button class="dropdown-btn"> Pathology
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
              
                <a class="dropdown-a" href="{% url 'path_parameter' %}">Add Parameter</a>
                 <a class="dropdown-a" href="{% url 'path_category' %}">Add Category</a>



              </div>

              <button class="dropdown-btn"> radiology
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
              
                <a class="dropdown-a" href="{% url 'radio_parameter' %}">Radio Parameter</a>
                 <a class="dropdown-a" href="{% url 'radio_category' %}">Radio Category</a>
                


              </div>
              
              
              
             

          
            </div>   

         
              <!-- Add other links that should be visible to doctors here -->
              {% endif %}

            {% if user.role == 'Admin' %}
            <li  class="{% if request.resolver_match.url_name == 'doctor' %}active{% endif %}" ><a href="{% url 'doctor' %}">Dashboard</a></li>  
            <li  class="{% if request.resolver_match.url_name == 'appointment' %}active{% endif %}" ><a href="{% url 'appointment' %}">Appointment</a></li>
           
          
            <li><a href="{% url 'opd' %}">Opd</a></li>
            <li><a href="{% url 'ipd_patient' %}">IPD</a></li>
            <li><a href="{% url 'path' %}">Pathology</a></li>
            <li><a href="{% url 'radiology' %}">Radiology</a></li>
            <li><a href="{% url 'blood_donation' %}">Blood Bank</a></li>
            <li  class="{% if request.resolver_match.url_name == 'add_med' %}active{% endif %}" ><a href="{% url 'add_med' %}">Pharmacy</a></li>  
          <li><a href="{% url 'add_ambulance' %}">Ambulance</a></li>
          <li  class="{% if request.resolver_match.url_name == 'meeting' %}active{% endif %}" ><a href="{% url 'meeting' %}">meeting</a></li>

          <button class="dropdown-btn">Birth & Death Record 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a class="dropdown-a" href="{% url "add_child" %}">Birth Record</a>
            <a class="dropdown-a" href="{% url "add_death" %}">Death Record</a>
            
          </div>    
          <li><a href="{% url 'referral' %}">Referral</a></li>
          <li><a href="{% url 'add_tpa' %}">TPA</a></li>
          <li><a href="{% url 'add_itemstock' %}">Inventory</a></li>

          <li class="{% if request.resolver_match.url_name == 'staff_list' %}active{% endif %}"><a href="{% url 'staff_list' %}">Human Resource</a></li>

   
          <li class="{% if request.resolver_match.url_name == 'patient_list' %}active{% endif %}" ><a href="{% url 'patient_list' %}">Patient</a></li>
            
            <button class="dropdown-btn">Finance 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <a class="dropdown-a" href="{% url "add_income" %}">Income</a>
              <a class="dropdown-a" href="{% url "add_expense" %}">Expense</a>
              
            </div> 
          
          


          
            <button class="dropdown-btn">Setup 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
              <a class="dropdown-a" href="{% url "add_income" %}">Income</a>
              <a  class="dropdown-a"href="{% url 'submit_symptom' %}">Systoms</a>
              <a  class="dropdown-a"href="{% url 'role_form' %}">Human Resource</a>
              <a  class="dropdown-a"href="{% url 'payroll' %}">Payroll</a>
              <a class="dropdown-a" href="{% url "add_expense" %}">Expense</a>
              <li><a href="{% url 'add_bed' %}"> Bed </a></li>
              
              <button class="dropdown-btn">Hospital Charges 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                <a class="dropdown-a" href="{% url "charge_type" %}">Charge  </a>
                <a class="dropdown-a" href="{% url "add_charge" %}">Charges</a>
                <a class="dropdown-a" href="{% url "tax_cat" %}">Tax Unit & Category</a>
                <a class="dropdown-a" href="{% url "charge_name" %}">Charge Type </a>



              </div>

              <button class="dropdown-btn"> Pharmacy
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                <a class="dropdown-a" href="{% url "supplier_form" %}">Supplier  </a>
                
                <a class="dropdown-a" href="{% url 'med_det' %}">Medication Details</a>
                 <a class="dropdown-a" href="{% url 'med_cat' %}">Medicine Category</a>



              </div>
              <button class="dropdown-btn"> Pathology
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
              
                <a class="dropdown-a" href="{% url 'path_parameter' %}">Add Parameter</a>
                 <a class="dropdown-a" href="{% url 'path_category' %}">Add Category</a>



              </div>

              <button class="dropdown-btn"> radiology
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
              
                <a class="dropdown-a" href="{% url 'radio_parameter' %}">Radio Parameter</a>
                 <a class="dropdown-a" href="{% url 'radio_category' %}">Radio Category</a>
                


              </div>
              
              
              
             



              
              <button class="dropdown-btn"> Referral
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
              
                <a class="dropdown-a" href="{% url 'add_referral_cate' %}">Referral Category</a>
                 <a class="dropdown-a" href="{% url 'referral_commission' %}">Referral Commission</a>



              </div>

            </div>    
            
            {% endif %}
            
            {% if user.role == 'Manooj' %}
            <li  class="{% if request.resolver_match.url_name == 'doctor' %}active{% endif %}" ><a href="{% url 'doctor' %}">Doctor</a></li>  
              <button class="dropdown-btn">Setup 
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
                <a class="dropdown-a" href="{% url "add_income" %}">Income</a>
                <a class="dropdown-a" href="{% url "add_expense" %}">Expense</a>
                <li><a href="{% url 'add_bed' %}"> Bed </a></li>
                
                <button class="dropdown-btn">Hospital Charges 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                  <a class="dropdown-a" href="{% url "charge_type" %}">Charge  </a>
                  <a class="dropdown-a" href="{% url "add_charge" %}">Charges</a>
                  <a class="dropdown-a" href="{% url "tax_cat" %}">Tax Unit & Category</a>
                  <a class="dropdown-a" href="{% url "charge_name" %}">Charge Type </a>

                  



                </div>

                <button class="dropdown-btn"> Pharmacy
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                  <a class="dropdown-a" href="{% url "supplier_form" %}">Supplier  </a>
                  
                  <a class="dropdown-a" href="{% url 'med_det' %}">Medication Details</a>
                   <a class="dropdown-a" href="{% url 'med_cat' %}">Medicine Category</a>



                </div>
                <button class="dropdown-btn"> Pathology
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                
                  <a class="dropdown-a" href="{% url 'path_parameter' %}">Add Parameter</a>
                   <a class="dropdown-a" href="{% url 'path_category' %}">Add Category</a>



                </div>

                <button class="dropdown-btn"> radiology
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                
                  <a class="dropdown-a" href="{% url 'radio_parameter' %}">Radio Parameter</a>
                   <a class="dropdown-a" href="{% url 'radio_category' %}">Radio Category</a>
                  


                </div>
                
                
                
                <a  class="dropdown-a"href="{% url 'submit_symptom' %}">Systoms</a>
                <a  class="dropdown-a"href="{% url 'role_form' %}">Human Resource</a>
                <a  class="dropdown-a"href="{% url 'payroll' %}">Payroll</a>



                
                <button class="dropdown-btn"> Referral
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                
                  <a class="dropdown-a" href="{% url 'add_referral_cate' %}">Referral Category</a>
                   <a class="dropdown-a" href="{% url 'referral_commission' %}">Referral Commission</a>



                </div>

              </div>    
              {% endif %}

              {% if user.role == 'Receptionist' %}


              
              <li  class="{% if request.resolver_match.url_name == 'purchase_med' %}active{% endif %}" ><a href="{% url 'purchase_med' %}">Pharmacy</a></li>  
  <button class="dropdown-btn">Setup 
                <i class="fa fa-caret-down"></i>
              </button>
             
                <button class="dropdown-btn"> Pharmacy
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-container">
                  <a class="dropdown-a" href="{% url "supplier_form" %}">Supplier  </a>
                  
                  <a class="dropdown-a" href="{% url 'med_det' %}">Medication Details</a>
                   <a class="dropdown-a" href="{% url 'med_cat' %}">Medicine Category</a>



                </div>
               
              </div>    
              
                </div>
              {% endif %}



              {% if user.role == 'Accountant' %}
              <li><a href="{% url 'opd' %}">Opd Billing</a></li>
            <li><a href="{% url 'ipd_patient' %}">IPD Billing</a></li>
            <li><a href="{% url 'path' %}">Pathology Billing</a></li>
            <li><a href="{% url 'radiology' %}">Radiology Billing</a></li>
            <li><a href="{% url 'blood_donation' %}">Blood Billing</a></li>
              
              {% endif %}


              {% if user.role == 'Nurse' %}
              <li><a href="{% url 'opd' %}">Opd</a></li>
              <li><a href="{% url 'ipd_patient' %}">IPD</a></li>
              <li><a href="{% url 'path' %}">Pathology</a></li>
              <li><a href="{% url 'radiology' %}">Radiology</a></li>
              <li><a href="{% url 'blood_donation' %}">Blood Bank</a></li>

            </div>
            <button class="dropdown-btn">Setup 
              <i class="fa fa-caret-down"></i>
            </button>
           

             


              </div>
              <button class="dropdown-btn"> Pathology
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
              
                <a class="dropdown-a" href="{% url 'path_parameter' %}">Add Parameter</a>
                 <a class="dropdown-a" href="{% url 'path_category' %}">Add Category</a>



              </div>

              <button class="dropdown-btn"> radiology
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-container">
              
                <a class="dropdown-a" href="{% url 'radio_parameter' %}">Radio Parameter</a>
                 <a class="dropdown-a" href="{% url 'radio_category' %}">Radio Category</a>
                


              </div>
              
              
              
              <a  class="dropdown-a"href="{% url 'submit_symptom' %}">Systoms</a>
 



      

              </div>

            
            
              {% endif %}

              

              {% if user.role == 'Pharmacist' %}

              <li  class="{% if request.resolver_match.url_name == 'purchase_med' %}active{% endif %}" ><a href="{% url 'purchase_med' %}">Pharmacy</a></li>  
              <button class="dropdown-btn">Setup 
                            <i class="fa fa-caret-down"></i>
                          </button>
                         
                            <button class="dropdown-btn"> Pharmacy
                              <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-container">
                              <a class="dropdown-a" href="{% url "supplier_form" %}">Supplier  </a>
                              
                              <a class="dropdown-a" href="{% url 'med_det' %}">Medication Details</a>
                               <a class="dropdown-a" href="{% url 'med_cat' %}">Medicine Category</a>
            
            
            
                            </div>
                           
                          </div>    
                          
                            </div>
              
              {% endif %}


             {% if user.role == "pathologist" %}
           
             <li><a href="{% url 'path' %}">Pathology</a></li>
            
           </div>
           <button class="dropdown-btn">Setup 
             <i class="fa fa-caret-down"></i>
           </button>
          

            


             </div>
             <button class="dropdown-btn"> Pathology
               <i class="fa fa-caret-down"></i>
             </button>
             <div class="dropdown-container">
             
               <a class="dropdown-a" href="{% url 'path_parameter' %}">Add Parameter</a>
                <a class="dropdown-a" href="{% url 'path_category' %}">Add Categor</a>



             </div>

             
             
             <a  class="dropdown-a"href="{% url 'submit_symptom' %}">Systoms</a>




     

             </div>

           
           
             {% endif %}

             {% if user.role == 'Radiologist' %}
             
       
             <li><a href="{% url 'radiology' %}">Radiology</a></li>
 

           </div>
           <button class="dropdown-btn">Setup 
             <i class="fa fa-caret-down"></i>
           </button>
          

            


             </div>
        
             <button class="dropdown-btn"> radiology
               <i class="fa fa-caret-down"></i>
             </button>
             <div class="dropdown-container">
             
               <a class="dropdown-a" href="{% url 'radio_parameter' %}">Radio Parameter</a>
                <a class="dropdown-a" href="{% url 'radio_category' %}">Radio Category</a>
               


             </div>
             
             
             
             <a  class="dropdown-a"href="{% url 'submit_symptom' %}">Systoms</a>




     

             </div>

           
           
             {% endif %}
            
        </ul>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="{% static "javascript/index.js" %}"></script>
    {% comment %} <script src="htt  ps://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> {% endcomment %}
    {% comment %} <script>
        $(document).ready(function() {
          $(".dropdown-toggle").click(function() {
            $(this).next(".dropdown-menu");
            $(this).parent().toggleClass("active");
          });
        });
        </script> {% endcomment %}<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}

var sidebar = document.querySelector('.sidebar');

var scrollbar = document.createElement('div');
scrollbar.classList.add('scrollbar');

var thumb = document.createElement('div');
thumb.classList.add('thumb');

scrollbar.appendChild(thumb);
sidebar.appendChild(scrollbar);

scrollbar.addEventListener('scroll', function() {
  thumb.style.top = this.scrollTop / this.scrollHeight * 100 + '%';
});

function closeForm() {
    $('.form-popup-bg').removeClass('is-visible');
  }
  
  $(document).ready(function($) {
    
    /* Contact Form Interactions */
    $('#btnOpenForm').on('click', function(event) {
      event.preventDefault();
  
      $('.form-popup-bg').addClass('is-visible');
    });
    
      //close popup when clicking x or off popup
    $('.form-popup-bg').on('click', function(event) {
      if ($(event.target).is('.form-popup-bg') || $(event.target).is('#btnCloseForm')) {
        event.preventDefault();
        $(this).removeClass('is-visible');
      }
    });
});

</script>
<div> 
{% block content %}


{% endblock  %}
</div>  