
{% include "layout/header.html" %}
{% include "layout/sidebar.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TPA</title>

  {% load static %}
  <style>
  
  .apply{
      width:70%;
  }
  </style>
  <div class='container'>
      <div id="popupContainer" class="form-popup-back">
          <div class="form-Contain">
              <div class="POP">
                  <div class="cards">
                    <div class="popup-header">
                      <span id="closePopupBtn" class="close-button">Close</span>
                      <h1>Add  TPA</h1>
                    </div>
                      <form class="form_popup"  enctype="multipart/form-data" method="post" action="{% url 'add_tpa' %}">
                          {% csrf_token %}
  
                          <div class="form-group">
                            <label for="id_name">Name *</label>
                            <input type="text" class="form-control" id="id_name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="id_code">Code *</label>
                            <input type="text" class="form-control" id="id_code" name="code" required>
                        </div>
                        <div class="form-group">
                            <label for="id_contact_no">Contact No *</label>
                            <input type="text" class="form-control" id="id_contact_no" name="contact_no" required>
                        </div>
                        <div class="form-group">
                            <label for="id_address">Address</label>
                            <textarea class="form-control" id="id_address" name="address"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="id_contact_person_name">Contact Person Name</label>
                            <input type="text" class="form-control" id="id_contact_person_name" name="contact_person_name">
                        </div>
                        <div class="form-group">
                            <label for="id_contact_person_phone">Contact Person Phone</label>
                            <input type="text" class="form-control" id="id_contact_person_phone" name="contact_person_phone">
                        </div>
                          
                          <div style="text-align: center;">
                              <input type="submit" value="Submit">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          </div>
          
      
      
      
      
      
      
      
      <div class="main-header">
      <h1 class="headline">Add TPA</h1>
      <div class="side-btns">
      
      
      {% comment %} <a class="btn-primary btn" href="{% url "appointmentForm" %}">Appointment Form</a> {% endcomment %}
      <a  class="btn-primary btn" onClick="change()" id="openPopupBtn">Add TPA</a>
    
      
      </div>    
      </div>   
  
  
  
  
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Contact Person Name</th>
            <th>Contact Person Phone</th>
            
            
              
           
          </tr>
        </thead>
        <tbody>
          
          {% for tpa in tpa %}
            <tr>
              <td>{{ tpa.name }}</td>
              <td>{{ tpa.code }}</td>
              <td>{{ tpa.contact_no }}</td>
              <td>{{ tpa.address }}</td>
              <td>{{ tpa.contact_person_name }}</td>
              <td>{{ tpa.contact_person_phone }}</td>
          
              
          
            
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
  
      </div>
      
<script src="{% static "/css/javscript/index.js" %}"></script>
  <script>
          {% comment %} const openPopupBtn = document.getElementById("openPopupBtn");
          const popupContainer = document.getElementById("popupContainer");
      const closePopupBtn = document.getElementById("closePopupBtn");
      
      function change(){
        popupContainer.style.display = "block";
      }
      closePopupBtn.addEventListener("click", function() {
          popupContainer.style.display = "none";
      }); {% endcomment %}
         
      function applyStandardCommission() {
          // Get the value from the "Standard Commission" field
          const standardCommissionInput = document.getElementById("standard_commission");
          const standardCommissionValue = standardCommissionInput.value;
  
          // Get all the individual commission input fields
          const individualCommissionFields = document.querySelectorAll('.individual-commission');
  
          // Set the standard commission value to all individual commission fields
          individualCommissionFields.forEach(function(field) {
              field.value = standardCommissionValue;
          });
      }
      </script>
  
  </div>
  </body>
  </html> 
